body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:370px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13665 {
  position:absolute;
  left:70px;
  top:65px;
  width:305px;
  height:95px;
}
#u13666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u13666 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u13667 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u13668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u13668 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
}
#u13669 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u13670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u13670 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
}
#u13671 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u13672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u13672 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
}
#u13673 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u13674 {
  position:absolute;
  left:100px;
  top:30px;
  width:100px;
  height:30px;
}
#u13675 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u13676 {
  position:absolute;
  left:200px;
  top:30px;
  width:100px;
  height:30px;
}
#u13677 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u13678 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
}
#u13679 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u13680 {
  position:absolute;
  left:100px;
  top:60px;
  width:100px;
  height:30px;
}
#u13681 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u13682 {
  position:absolute;
  left:200px;
  top:60px;
  width:100px;
  height:30px;
}
#u13683 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
