body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3476px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u34119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:575px;
  height:532px;
}
#u34119 {
  position:absolute;
  left:15px;
  top:30px;
  width:575px;
  height:532px;
}
#u34120 {
  position:absolute;
  left:2px;
  top:258px;
  width:571px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34121 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34122 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34123_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:828px;
  height:1198px;
}
#u34123 {
  position:absolute;
  left:2658px;
  top:267px;
  width:818px;
  height:1188px;
}
#u34124 {
  position:absolute;
  left:2px;
  top:586px;
  width:814px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:818px;
  height:1045px;
}
#u34125 {
  position:absolute;
  left:2658px;
  top:410px;
  width:818px;
  height:1045px;
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
#u34126 {
  position:absolute;
  left:2px;
  top:514px;
  width:814px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34127 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2E3133;
}
#u34128 {
  position:absolute;
  left:2721px;
  top:297px;
  width:100px;
  height:20px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2E3133;
}
#u34129 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u34130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u34130 {
  position:absolute;
  left:2681px;
  top:292px;
  width:28px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u34131 {
  position:absolute;
  left:2px;
  top:4px;
  width:24px;
  word-wrap:break-word;
}
#u34132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#AFAFAF;
}
#u34132 {
  position:absolute;
  left:2681px;
  top:332px;
  width:60px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#AFAFAF;
}
#u34133 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u34134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:21px;
}
#u34134 {
  position:absolute;
  left:2722px;
  top:329px;
  width:50px;
  height:21px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#2E3133;
}
#u34135 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u34136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#AFAFAF;
  text-align:right;
}
#u34136 {
  position:absolute;
  left:3320px;
  top:297px;
  width:107px;
  height:18px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#AFAFAF;
  text-align:right;
}
#u34137 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u34138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2E3133;
}
#u34138 {
  position:absolute;
  left:2681px;
  top:362px;
  width:108px;
  height:20px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2E3133;
}
#u34139 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u34140 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:818px;
  height:89px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34141 {
  position:absolute;
  left:2658px;
  top:410px;
  width:818px;
  height:89px;
}
#u34142 {
  position:absolute;
  left:2px;
  top:36px;
  width:814px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34143 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34144 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u34145 {
  position:absolute;
  left:3007px;
  top:445px;
  width:32px;
  height:32px;
  color:#CCCCCC;
}
#u34146 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  word-wrap:break-word;
}
#u34147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:24px;
}
#u34147 {
  position:absolute;
  left:3047px;
  top:449px;
  width:57px;
  height:24px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:24px;
}
#u34148 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u34149 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:226px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34150 {
  position:absolute;
  left:2726px;
  top:980px;
  width:680px;
  height:226px;
}
#u34151 {
  position:absolute;
  left:2px;
  top:105px;
  width:676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34152 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:656px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
  line-height:24px;
}
#u34153 {
  position:absolute;
  left:2738px;
  top:1011px;
  width:656px;
  height:48px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
  line-height:24px;
}
#u34154 {
  position:absolute;
  left:0px;
  top:0px;
  width:656px;
  word-wrap:break-word;
}
#u34155 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u34156 {
  position:absolute;
  left:3038px;
  top:1091px;
  width:32px;
  height:32px;
  color:#CCCCCC;
}
#u34157 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  word-wrap:break-word;
}
#u34158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:229px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34158 {
  position:absolute;
  left:2726px;
  top:509px;
  width:680px;
  height:229px;
}
#u34159 {
  position:absolute;
  left:2px;
  top:106px;
  width:676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:24px;
}
#u34160 {
  position:absolute;
  left:2824px;
  top:599px;
  width:529px;
  height:48px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:24px;
}
#u34161 {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  word-wrap:break-word;
}
#u34162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u34162 {
  position:absolute;
  left:2759px;
  top:541px;
  width:40px;
  height:40px;
}
#u34163 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34164 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
#u34165 {
  position:absolute;
  left:2824px;
  top:541px;
  width:251px;
  height:24px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
#u34166 {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  white-space:nowrap;
}
#u34167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  line-height:24px;
}
#u34167 {
  position:absolute;
  left:2824px;
  top:565px;
  width:120px;
  height:24px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  line-height:24px;
}
#u34168 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u34169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:32px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u34169 {
  position:absolute;
  left:2824px;
  top:674px;
  width:81px;
  height:32px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u34170 {
  position:absolute;
  left:16px;
  top:8px;
  width:49px;
  white-space:nowrap;
}
#u34171 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:210px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34172 {
  position:absolute;
  left:2726px;
  top:770px;
  width:680px;
  height:210px;
}
#u34173 {
  position:absolute;
  left:2px;
  top:97px;
  width:676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:24px;
}
#u34174 {
  position:absolute;
  left:2824px;
  top:860px;
  width:530px;
  height:24px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:24px;
}
#u34175 {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  word-wrap:break-word;
}
#u34176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u34176 {
  position:absolute;
  left:2759px;
  top:802px;
  width:40px;
  height:40px;
}
#u34177 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34178 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
#u34179 {
  position:absolute;
  left:2824px;
  top:802px;
  width:249px;
  height:24px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
#u34180 {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  white-space:nowrap;
}
#u34181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  line-height:24px;
}
#u34181 {
  position:absolute;
  left:2824px;
  top:826px;
  width:120px;
  height:24px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  line-height:24px;
}
#u34182 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u34183_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:32px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u34183 {
  position:absolute;
  left:2824px;
  top:916px;
  width:81px;
  height:32px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u34184 {
  position:absolute;
  left:16px;
  top:8px;
  width:49px;
  white-space:nowrap;
}
#u34185 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34186 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:130px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 2px 8px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 2px 8px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 2px 8px rgba(0, 0, 0, 0.149019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:22px;
}
#u34187 {
  position:absolute;
  left:640px;
  top:135px;
  width:280px;
  height:130px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:22px;
}
#u34188 {
  position:absolute;
  left:16px;
  top:48px;
  width:248px;
  word-wrap:break-word;
}
#u34189 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34190_img {
  position:absolute;
  left:-8px;
  top:-6px;
  width:29px;
  height:21px;
}
#u34190 {
  position:absolute;
  left:773px;
  top:265px;
  width:13px;
  height:5px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u34191 {
  position:absolute;
  left:2px;
  top:-6px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:22px;
}
#u34192 {
  position:absolute;
  left:640px;
  top:135px;
  width:280px;
  height:29px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:left;
  line-height:22px;
}
#u34193 {
  position:absolute;
  left:16px;
  top:4px;
  width:248px;
  word-wrap:break-word;
}
#u34194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
}
#u34194 {
  position:absolute;
  left:740px;
  top:139px;
  width:57px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u34195 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u34196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
}
#u34196 {
  position:absolute;
  left:797px;
  top:142px;
  width:107px;
  height:16px;
}
#u34197 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
