body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:891px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u17979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:39px;
}
#u17979 {
  position:absolute;
  left:610px;
  top:0px;
  width:129px;
  height:39px;
}
#u17980 {
  position:absolute;
  left:2px;
  top:12px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17981 {
  position:absolute;
  left:600px;
  top:6px;
  width:70px;
  height:30px;
  overflow:hidden;
}
#u17981_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u17981_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17982 {
  position:absolute;
  left:672px;
  top:6px;
  width:70px;
  height:30px;
  overflow:hidden;
}
#u17982_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u17982_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:306px;
}
#u17983 {
  position:absolute;
  left:471px;
  top:74px;
  width:420px;
  height:306px;
}
#u17984 {
  position:absolute;
  left:2px;
  top:145px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:306px;
}
#u17985 {
  position:absolute;
  left:470px;
  top:394px;
  width:420px;
  height:306px;
}
#u17986 {
  position:absolute;
  left:2px;
  top:145px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
