body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:967px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u42449_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:39px;
}
#u42449 {
  position:absolute;
  left:610px;
  top:0px;
  width:129px;
  height:39px;
}
#u42450 {
  position:absolute;
  left:2px;
  top:12px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42451 {
  position:absolute;
  left:600px;
  top:6px;
  width:70px;
  height:30px;
  overflow:hidden;
}
#u42451_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u42451_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u42452 {
  position:absolute;
  left:672px;
  top:6px;
  width:70px;
  height:30px;
  overflow:hidden;
}
#u42452_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u42452_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u42453_img {
  position:absolute;
  left:0px;
  top:0px;
  width:557px;
  height:399px;
}
#u42453 {
  position:absolute;
  left:410px;
  top:42px;
  width:557px;
  height:399px;
}
#u42454 {
  position:absolute;
  left:2px;
  top:192px;
  width:553px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42455_img {
  position:absolute;
  left:0px;
  top:0px;
  width:557px;
  height:399px;
}
#u42455 {
  position:absolute;
  left:410px;
  top:454px;
  width:557px;
  height:399px;
}
#u42456 {
  position:absolute;
  left:2px;
  top:192px;
  width:553px;
  visibility:hidden;
  word-wrap:break-word;
}
