body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:891px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u20734_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:39px;
}
#u20734 {
  position:absolute;
  left:610px;
  top:0px;
  width:129px;
  height:39px;
}
#u20735 {
  position:absolute;
  left:2px;
  top:12px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20736 {
  position:absolute;
  left:600px;
  top:6px;
  width:70px;
  height:30px;
  overflow:hidden;
}
#u20736_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u20736_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20737 {
  position:absolute;
  left:672px;
  top:6px;
  width:70px;
  height:30px;
  overflow:hidden;
}
#u20737_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u20737_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20738_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:306px;
}
#u20738 {
  position:absolute;
  left:471px;
  top:74px;
  width:420px;
  height:306px;
}
#u20739 {
  position:absolute;
  left:2px;
  top:145px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20740_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:306px;
}
#u20740 {
  position:absolute;
  left:470px;
  top:394px;
  width:420px;
  height:306px;
}
#u20741 {
  position:absolute;
  left:2px;
  top:145px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
