body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1521px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19773_img {
  position:absolute;
  left:0px;
  top:0px;
  width:963px;
  height:463px;
}
#u19773 {
  position:absolute;
  left:27px;
  top:787px;
  width:963px;
  height:463px;
}
#u19774 {
  position:absolute;
  left:2px;
  top:224px;
  width:959px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19776 {
  position:absolute;
  left:0px;
  top:0px;
  width:1302px;
  height:813px;
  overflow:hidden;
}
#u19776_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1302px;
  height:813px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u19776_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19777_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1295px;
  height:752px;
}
#u19777 {
  position:absolute;
  left:0px;
  top:64px;
  width:1295px;
  height:752px;
}
#u19778 {
  position:absolute;
  left:2px;
  top:368px;
  width:1291px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19779_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1279px;
  height:730px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19779 {
  position:absolute;
  left:9px;
  top:73px;
  width:1279px;
  height:730px;
}
#u19780 {
  position:absolute;
  left:2px;
  top:357px;
  width:1275px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19781 {
  position:absolute;
  left:0px;
  top:0px;
  width:1302px;
  height:1944px;
  overflow:hidden;
}
#u19781_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1302px;
  height:1944px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u19781_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19782_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1295px;
  height:2069px;
}
#u19782 {
  position:absolute;
  left:0px;
  top:64px;
  width:1295px;
  height:2069px;
}
#u19783 {
  position:absolute;
  left:2px;
  top:1026px;
  width:1291px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19784_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u19784 {
  position:absolute;
  left:1156px;
  top:16px;
  width:16px;
  height:16px;
}
#u19785 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19786_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u19786 {
  position:absolute;
  left:1208px;
  top:17px;
  width:17px;
  height:17px;
}
#u19787 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19788_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u19788 {
  position:absolute;
  left:1262px;
  top:14px;
  width:22px;
  height:22px;
}
#u19789 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19790_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19790 {
  position:absolute;
  left:1108px;
  top:18px;
  width:43px;
  height:16px;
}
#u19791 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u19792 {
  position:absolute;
  left:1108px;
  top:44px;
  width:88px;
  height:67px;
  overflow:hidden;
  visibility:hidden;
}
#u19792_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:67px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u19792_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19793_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19793 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:33px;
}
#u19794 {
  position:absolute;
  left:2px;
  top:8px;
  width:83px;
  word-wrap:break-word;
}
#u19795_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u19795 {
  position:absolute;
  left:0px;
  top:33px;
  width:87px;
  height:33px;
  text-align:left;
}
#u19796 {
  position:absolute;
  left:2px;
  top:8px;
  width:83px;
  word-wrap:break-word;
}
#u19797 {
  position:absolute;
  left:990px;
  top:47px;
  width:294px;
  height:311px;
  overflow:hidden;
  visibility:hidden;
}
#u19797_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:311px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u19797_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19798_div {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:310px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19798 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:310px;
}
#u19799 {
  position:absolute;
  left:2px;
  top:147px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19800_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u19800 {
  position:absolute;
  left:23px;
  top:20px;
  width:32px;
  height:32px;
}
#u19801 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19802_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u19802 {
  position:absolute;
  left:79px;
  top:18px;
  width:88px;
  height:16px;
  font-size:16px;
  color:#666666;
}
#u19803 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u19804_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u19804 {
  position:absolute;
  left:78px;
  top:39px;
  width:80px;
  height:16px;
  font-size:16px;
  color:#666666;
}
#u19805 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u19806_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u19806 {
  position:absolute;
  left:21px;
  top:85px;
  width:43px;
  height:16px;
  color:#666666;
}
#u19807 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u19808_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u19808 {
  position:absolute;
  left:21px;
  top:126px;
  width:99px;
  height:16px;
  color:#666666;
}
#u19809 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u19810_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u19810 {
  position:absolute;
  left:19px;
  top:166px;
  width:99px;
  height:16px;
  color:#666666;
}
#u19811 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u19812_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u19812 {
  position:absolute;
  left:19px;
  top:207px;
  width:145px;
  height:16px;
  color:#666666;
}
#u19813 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u19814_img {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:2px;
}
#u19814 {
  position:absolute;
  left:5px;
  top:68px;
  width:278px;
  height:1px;
}
#u19815 {
  position:absolute;
  left:2px;
  top:-8px;
  width:274px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19816_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u19816 {
  position:absolute;
  left:17px;
  top:19px;
  width:29px;
  height:16px;
}
#u19817 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u19818_div {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:294px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(240, 240, 240, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19818 {
  position:absolute;
  left:17px;
  top:202px;
  width:395px;
  height:294px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19819 {
  position:absolute;
  left:2px;
  top:139px;
  width:391px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19820_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u19820 {
  position:absolute;
  left:82px;
  top:218px;
  width:88px;
  height:28px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u19821 {
  position:absolute;
  left:2px;
  top:4px;
  width:84px;
  word-wrap:break-word;
}
#u19822_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#5CADFF;
}
#u19822 {
  position:absolute;
  left:317px;
  top:311px;
  width:77px;
  height:28px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#5CADFF;
}
#u19823 {
  position:absolute;
  left:2px;
  top:4px;
  width:73px;
  word-wrap:break-word;
}
#u19824_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u19824 {
  position:absolute;
  left:86px;
  top:312px;
  width:50px;
  height:28px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u19825 {
  position:absolute;
  left:2px;
  top:4px;
  width:46px;
  word-wrap:break-word;
}
#u19826_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u19826 {
  position:absolute;
  left:86px;
  top:265px;
  width:51px;
  height:28px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u19827 {
  position:absolute;
  left:2px;
  top:4px;
  width:47px;
  word-wrap:break-word;
}
#u19828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#5CADFF;
}
#u19828 {
  position:absolute;
  left:317px;
  top:269px;
  width:77px;
  height:28px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#5CADFF;
}
#u19829 {
  position:absolute;
  left:2px;
  top:4px;
  width:73px;
  word-wrap:break-word;
}
#u19830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u19830 {
  position:absolute;
  left:27px;
  top:207px;
  width:50px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19831 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1265px;
  height:490px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(240, 240, 240, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19832 {
  position:absolute;
  left:17px;
  top:2129px;
  width:1265px;
  height:490px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19833 {
  position:absolute;
  left:2px;
  top:237px;
  width:1261px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19832_ann {
  position:absolute;
  left:1275px;
  top:2125px;
  width:1px;
  height:1px;
}
#u19834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u19834 {
  position:absolute;
  left:82px;
  top:2144px;
  width:93px;
  height:28px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u19835 {
  position:absolute;
  left:2px;
  top:4px;
  width:89px;
  word-wrap:break-word;
}
#u19836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1250px;
  height:426px;
}
#u19836 {
  position:absolute;
  left:22px;
  top:2182px;
  width:1250px;
  height:426px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19837 {
  position:absolute;
  left:2px;
  top:205px;
  width:1246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u19838 {
  position:absolute;
  left:28px;
  top:2138px;
  width:40px;
  height:40px;
}
#u19839 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19841 {
  position:absolute;
  left:266px;
  top:2144px;
  width:150px;
  height:30px;
}
#u19841_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u19841_input:disabled {
  color:grayText;
}
#u19842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:39px;
}
#u19842 {
  position:absolute;
  left:1106px;
  top:2143px;
  width:163px;
  height:39px;
}
#u19843 {
  position:absolute;
  left:2px;
  top:12px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19844 {
  position:absolute;
  left:175px;
  top:2144px;
  width:78px;
  height:30px;
}
#u19844_input {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u19844_input:disabled {
  color:grayText;
}
#u19845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:294px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(240, 240, 240, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19845 {
  position:absolute;
  left:881px;
  top:202px;
  width:401px;
  height:294px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19846 {
  position:absolute;
  left:2px;
  top:139px;
  width:397px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19845_ann {
  position:absolute;
  left:1275px;
  top:198px;
  width:1px;
  height:1px;
}
#u19847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u19847 {
  position:absolute;
  left:952px;
  top:213px;
  width:99px;
  height:29px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u19848 {
  position:absolute;
  left:2px;
  top:4px;
  width:95px;
  word-wrap:break-word;
}
#u19849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u19849 {
  position:absolute;
  left:943px;
  top:264px;
  width:94px;
  height:29px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u19850 {
  position:absolute;
  left:2px;
  top:4px;
  width:90px;
  word-wrap:break-word;
}
#u19851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#5CADFF;
}
#u19851 {
  position:absolute;
  left:1185px;
  top:269px;
  width:55px;
  height:29px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#5CADFF;
}
#u19852 {
  position:absolute;
  left:2px;
  top:4px;
  width:51px;
  word-wrap:break-word;
}
#u19853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u19853 {
  position:absolute;
  left:903px;
  top:212px;
  width:41px;
  height:41px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19854 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:2px;
}
#u19855 {
  position:absolute;
  left:27px;
  top:257px;
  width:401px;
  height:1px;
}
#u19856 {
  position:absolute;
  left:2px;
  top:-8px;
  width:397px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:2px;
}
#u19857 {
  position:absolute;
  left:865px;
  top:258px;
  width:417px;
  height:1px;
}
#u19858 {
  position:absolute;
  left:2px;
  top:-8px;
  width:413px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:2px;
}
#u19859 {
  position:absolute;
  left:865px;
  top:303px;
  width:404px;
  height:1px;
}
#u19860 {
  position:absolute;
  left:2px;
  top:-8px;
  width:400px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:2px;
}
#u19861 {
  position:absolute;
  left:865px;
  top:351px;
  width:404px;
  height:1px;
}
#u19862 {
  position:absolute;
  left:2px;
  top:-8px;
  width:400px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:2px;
}
#u19863 {
  position:absolute;
  left:865px;
  top:398px;
  width:404px;
  height:1px;
}
#u19864 {
  position:absolute;
  left:2px;
  top:-8px;
  width:400px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:2px;
}
#u19865 {
  position:absolute;
  left:865px;
  top:445px;
  width:404px;
  height:1px;
}
#u19866 {
  position:absolute;
  left:2px;
  top:-8px;
  width:400px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:2px;
}
#u19867 {
  position:absolute;
  left:39px;
  top:304px;
  width:389px;
  height:1px;
  text-align:right;
}
#u19868 {
  position:absolute;
  left:2px;
  top:-8px;
  width:385px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:2px;
}
#u19869 {
  position:absolute;
  left:39px;
  top:351px;
  width:389px;
  height:1px;
  text-align:right;
}
#u19870 {
  position:absolute;
  left:2px;
  top:-8px;
  width:385px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:2px;
}
#u19871 {
  position:absolute;
  left:39px;
  top:399px;
  width:389px;
  height:1px;
  text-align:right;
}
#u19872 {
  position:absolute;
  left:2px;
  top:-8px;
  width:385px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:2px;
}
#u19873 {
  position:absolute;
  left:39px;
  top:443px;
  width:389px;
  height:1px;
  text-align:right;
}
#u19874 {
  position:absolute;
  left:2px;
  top:-8px;
  width:385px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:575px;
  height:2px;
}
#u19875 {
  position:absolute;
  left:39px;
  top:490px;
  width:574px;
  height:1px;
  text-align:right;
}
#u19876 {
  position:absolute;
  left:2px;
  top:-8px;
  width:570px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:2px;
}
#u19877 {
  position:absolute;
  left:865px;
  top:490px;
  width:404px;
  height:1px;
  text-align:right;
}
#u19878 {
  position:absolute;
  left:2px;
  top:-8px;
  width:400px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1265px;
  height:511px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(240, 240, 240, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19879 {
  position:absolute;
  left:18px;
  top:2636px;
  width:1265px;
  height:511px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19880 {
  position:absolute;
  left:2px;
  top:248px;
  width:1261px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19879_ann {
  position:absolute;
  left:1276px;
  top:2632px;
  width:1px;
  height:1px;
}
#u19881 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u19882 {
  position:absolute;
  left:74px;
  top:2651px;
  width:123px;
  height:28px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u19883 {
  position:absolute;
  left:2px;
  top:4px;
  width:119px;
  word-wrap:break-word;
}
#u19885 {
  position:absolute;
  left:207px;
  top:2654px;
  width:150px;
  height:30px;
}
#u19885_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u19885_input:disabled {
  color:grayText;
}
#u19886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:39px;
}
#u19886 {
  position:absolute;
  left:1107px;
  top:2650px;
  width:163px;
  height:39px;
}
#u19887 {
  position:absolute;
  left:2px;
  top:12px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:33px;
}
#u19888 {
  position:absolute;
  left:27px;
  top:2651px;
  width:40px;
  height:33px;
}
#u19889 {
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1243px;
  height:444px;
}
#u19890 {
  position:absolute;
  left:27px;
  top:2695px;
  width:1243px;
  height:444px;
}
#u19891 {
  position:absolute;
  left:2px;
  top:214px;
  width:1239px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:220px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u19892 {
  position:absolute;
  left:1321px;
  top:810px;
  width:200px;
  height:220px;
}
#u19893 {
  position:absolute;
  left:10px;
  top:10px;
  width:180px;
  word-wrap:break-word;
}
#u19894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u19894 {
  position:absolute;
  left:1307px;
  top:2232px;
  width:150px;
  height:150px;
}
#u19895 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u19896 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  height:294px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(240, 240, 240, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19897 {
  position:absolute;
  left:427px;
  top:203px;
  width:439px;
  height:294px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19898 {
  position:absolute;
  left:2px;
  top:139px;
  width:435px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19897_ann {
  position:absolute;
  left:859px;
  top:199px;
  width:1px;
  height:1px;
}
#u19899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.8);
}
#u19899 {
  position:absolute;
  left:504px;
  top:214px;
  width:90px;
  height:29px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.8);
}
#u19900 {
  position:absolute;
  left:2px;
  top:4px;
  width:86px;
  word-wrap:break-word;
}
#u19901 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19902 {
  position:absolute;
  left:521px;
  top:317px;
  width:60px;
  height:29px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19903 {
  position:absolute;
  left:2px;
  top:5px;
  width:56px;
  word-wrap:break-word;
}
#u19904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#5CADFF;
}
#u19904 {
  position:absolute;
  left:760px;
  top:317px;
  width:60px;
  height:29px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#5CADFF;
}
#u19905 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u19906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u19906 {
  position:absolute;
  left:519px;
  top:270px;
  width:60px;
  height:29px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u19907 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u19908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#5CADFF;
}
#u19908 {
  position:absolute;
  left:760px;
  top:270px;
  width:60px;
  height:29px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#5CADFF;
}
#u19909 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u19910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u19910 {
  position:absolute;
  left:455px;
  top:212px;
  width:32px;
  height:32px;
}
#u19911 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:2px;
}
#u19912 {
  position:absolute;
  left:467px;
  top:263px;
  width:417px;
  height:1px;
}
#u19913 {
  position:absolute;
  left:2px;
  top:-8px;
  width:413px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:2px;
}
#u19914 {
  position:absolute;
  left:467px;
  top:308px;
  width:404px;
  height:1px;
}
#u19915 {
  position:absolute;
  left:2px;
  top:-8px;
  width:400px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:2px;
}
#u19916 {
  position:absolute;
  left:467px;
  top:356px;
  width:404px;
  height:1px;
}
#u19917 {
  position:absolute;
  left:2px;
  top:-8px;
  width:400px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:2px;
}
#u19918 {
  position:absolute;
  left:467px;
  top:403px;
  width:404px;
  height:1px;
}
#u19919 {
  position:absolute;
  left:2px;
  top:-8px;
  width:400px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:2px;
}
#u19920 {
  position:absolute;
  left:467px;
  top:450px;
  width:404px;
  height:1px;
}
#u19921 {
  position:absolute;
  left:2px;
  top:-8px;
  width:400px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19922 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19923 {
  position:absolute;
  left:955px;
  top:315px;
  width:94px;
  height:29px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19924 {
  position:absolute;
  left:2px;
  top:5px;
  width:90px;
  word-wrap:break-word;
}
#u19925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#5CADFF;
}
#u19925 {
  position:absolute;
  left:1186px;
  top:315px;
  width:55px;
  height:29px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#5CADFF;
}
#u19926 {
  position:absolute;
  left:2px;
  top:4px;
  width:51px;
  word-wrap:break-word;
}
#u19928 {
  position:absolute;
  left:431px;
  top:2144px;
  width:150px;
  height:30px;
}
#u19928_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19929 {
  position:absolute;
  left:431px;
  top:2175px;
  width:529px;
  height:251px;
  overflow:hidden;
  visibility:hidden;
}
#u19929_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:251px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u19929_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:527px;
  height:251px;
}
#u19930 {
  position:absolute;
  left:0px;
  top:0px;
  width:527px;
  height:251px;
}
#u19931 {
  position:absolute;
  left:2px;
  top:118px;
  width:523px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u19932 {
  position:absolute;
  left:561px;
  top:2149px;
  width:20px;
  height:20px;
}
#u19933 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19935 {
  position:absolute;
  left:383px;
  top:2653px;
  width:150px;
  height:30px;
}
#u19935_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19936 {
  position:absolute;
  left:383px;
  top:2684px;
  width:529px;
  height:251px;
  overflow:hidden;
  visibility:hidden;
}
#u19936_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:251px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u19936_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:527px;
  height:251px;
}
#u19937 {
  position:absolute;
  left:0px;
  top:0px;
  width:527px;
  height:251px;
}
#u19938 {
  position:absolute;
  left:2px;
  top:118px;
  width:523px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u19939 {
  position:absolute;
  left:513px;
  top:2658px;
  width:20px;
  height:20px;
}
#u19940 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1265px;
  height:537px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(240, 240, 240, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19941 {
  position:absolute;
  left:17px;
  top:515px;
  width:1265px;
  height:537px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u19942 {
  position:absolute;
  left:2px;
  top:260px;
  width:1261px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19941_ann {
  position:absolute;
  left:1275px;
  top:511px;
  width:1px;
  height:1px;
}
#u19943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u19943 {
  position:absolute;
  left:73px;
  top:530px;
  width:123px;
  height:28px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u19944 {
  position:absolute;
  left:2px;
  top:4px;
  width:119px;
  word-wrap:break-word;
}
#u19945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:39px;
}
#u19945 {
  position:absolute;
  left:1106px;
  top:529px;
  width:163px;
  height:39px;
}
#u19946 {
  position:absolute;
  left:2px;
  top:12px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u19947 {
  position:absolute;
  left:30px;
  top:3048px;
  width:40px;
  height:40px;
}
#u19948 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1246px;
  height:468px;
}
#u19949 {
  position:absolute;
  left:36px;
  top:573px;
  width:1246px;
  height:468px;
}
#u19950 {
  position:absolute;
  left:2px;
  top:226px;
  width:1242px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19952 {
  position:absolute;
  left:196px;
  top:530px;
  width:150px;
  height:30px;
}
#u19952_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19953 {
  position:absolute;
  left:196px;
  top:561px;
  width:529px;
  height:251px;
  overflow:hidden;
  visibility:hidden;
}
#u19953_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:251px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u19953_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:527px;
  height:251px;
}
#u19954 {
  position:absolute;
  left:0px;
  top:0px;
  width:527px;
  height:251px;
}
#u19955 {
  position:absolute;
  left:2px;
  top:118px;
  width:523px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u19956 {
  position:absolute;
  left:326px;
  top:535px;
  width:20px;
  height:20px;
}
#u19957 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19958 {
  position:absolute;
  left:147px;
  top:611px;
  width:1122px;
  height:419px;
  overflow:hidden;
}
#u19958_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1122px;
  height:419px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u19958_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:192px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u19959 {
  position:absolute;
  left:1302px;
  top:2650px;
  width:160px;
  height:192px;
}
#u19960 {
  position:absolute;
  left:10px;
  top:10px;
  width:140px;
  word-wrap:break-word;
}
#u19961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u19961 {
  position:absolute;
  left:613px;
  top:346px;
  width:170px;
  height:150px;
}
#u19962 {
  position:absolute;
  left:10px;
  top:10px;
  width:150px;
  word-wrap:break-word;
}
#u19963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u19963 {
  position:absolute;
  left:1330px;
  top:263px;
  width:150px;
  height:150px;
}
#u19964 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u19965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u19965 {
  position:absolute;
  left:165px;
  top:340px;
  width:170px;
  height:150px;
}
#u19966 {
  position:absolute;
  left:10px;
  top:10px;
  width:150px;
  word-wrap:break-word;
}
#u19967 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1263px;
  height:129px;
}
#u19968 {
  position:absolute;
  left:17px;
  top:68px;
  width:1263px;
  height:129px;
}
#u19969 {
  position:absolute;
  left:2px;
  top:56px;
  width:1259px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:80px;
}
#u19970 {
  position:absolute;
  left:77px;
  top:95px;
  width:73px;
  height:80px;
}
#u19971 {
  position:absolute;
  left:2px;
  top:32px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u19972 {
  position:absolute;
  left:167px;
  top:107px;
  width:401px;
  height:23px;
  font-size:16px;
  color:#000000;
}
#u19973 {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  word-wrap:break-word;
}
#u19974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u19974 {
  position:absolute;
  left:167px;
  top:140px;
  width:159px;
  height:16px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u19975 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
