body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1462px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u32742_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1412px;
  height:933px;
}
#u32742 {
  position:absolute;
  left:0px;
  top:0px;
  width:1412px;
  height:933px;
}
#u32743 {
  position:absolute;
  left:2px;
  top:458px;
  width:1408px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32744 {
  position:absolute;
  left:0px;
  top:0px;
  width:1462px;
  height:142px;
  overflow:hidden;
}
#u32744_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1462px;
  height:142px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u32744_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u32745_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
}
#u32745 {
  position:absolute;
  left:615px;
  top:178px;
  width:49px;
  height:19px;
}
#u32746 {
  position:absolute;
  left:2px;
  top:2px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32747_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:19px;
}
#u32747 {
  position:absolute;
  left:607px;
  top:198px;
  width:60px;
  height:19px;
}
#u32748 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32749_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:18px;
}
#u32749 {
  position:absolute;
  left:618px;
  top:159px;
  width:49px;
  height:18px;
}
#u32750 {
  position:absolute;
  left:2px;
  top:1px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
