body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1198px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u22268_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1198px;
  height:611px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:20px;
}
#u22268 {
  position:absolute;
  left:0px;
  top:0px;
  width:1198px;
  height:611px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:20px;
}
#u22269 {
  position:absolute;
  left:20px;
  top:15px;
  width:1158px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22270_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u22270 {
  position:absolute;
  left:20px;
  top:14px;
  width:109px;
  height:22px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u22271 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u22272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u22272 {
  position:absolute;
  left:1142px;
  top:10px;
  width:19px;
  height:20px;
  font-family:'Anticon Regular', 'Anticon';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u22273 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22274 {
  position:absolute;
  left:860px;
  top:10px;
  width:20px;
  height:17px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u22275_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1014px;
  height:490px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22275 {
  position:absolute;
  left:16px;
  top:46px;
  width:1014px;
  height:490px;
}
#u22276 {
  position:absolute;
  left:2px;
  top:237px;
  width:1010px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22277 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22278_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1014px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
}
#u22278 {
  position:absolute;
  left:16px;
  top:46px;
  width:1014px;
  height:38px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
}
#u22279 {
  position:absolute;
  left:2px;
  top:10px;
  width:996px;
  word-wrap:break-word;
}
#u22280 {
  position:absolute;
  left:59px;
  top:144px;
  width:953px;
  height:345px;
}
#u22281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:40px;
}
#u22281 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u22282 {
  position:absolute;
  left:2px;
  top:10px;
  width:51px;
  word-wrap:break-word;
}
#u22283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:40px;
}
#u22283 {
  position:absolute;
  left:55px;
  top:0px;
  width:163px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u22284 {
  position:absolute;
  left:2px;
  top:10px;
  width:159px;
  word-wrap:break-word;
}
#u22285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:40px;
}
#u22285 {
  position:absolute;
  left:218px;
  top:0px;
  width:237px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u22286 {
  position:absolute;
  left:2px;
  top:10px;
  width:233px;
  word-wrap:break-word;
}
#u22287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:40px;
}
#u22287 {
  position:absolute;
  left:455px;
  top:0px;
  width:185px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u22288 {
  position:absolute;
  left:2px;
  top:10px;
  width:181px;
  word-wrap:break-word;
}
#u22289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u22289 {
  position:absolute;
  left:640px;
  top:0px;
  width:150px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u22290 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u22291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:40px;
}
#u22291 {
  position:absolute;
  left:790px;
  top:0px;
  width:158px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u22292 {
  position:absolute;
  left:2px;
  top:10px;
  width:154px;
  word-wrap:break-word;
}
#u22293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:60px;
}
#u22293 {
  position:absolute;
  left:0px;
  top:40px;
  width:55px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u22294 {
  position:absolute;
  left:2px;
  top:18px;
  width:51px;
  word-wrap:break-word;
}
#u22295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:60px;
}
#u22295 {
  position:absolute;
  left:55px;
  top:40px;
  width:163px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u22296 {
  position:absolute;
  left:20px;
  top:22px;
  width:141px;
  word-wrap:break-word;
}
#u22297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:60px;
}
#u22297 {
  position:absolute;
  left:218px;
  top:40px;
  width:237px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u22298 {
  position:absolute;
  left:2px;
  top:18px;
  width:233px;
  word-wrap:break-word;
}
#u22299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:60px;
}
#u22299 {
  position:absolute;
  left:455px;
  top:40px;
  width:185px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u22300 {
  position:absolute;
  left:2px;
  top:18px;
  width:181px;
  word-wrap:break-word;
}
#u22301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u22301 {
  position:absolute;
  left:640px;
  top:40px;
  width:150px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u22302 {
  position:absolute;
  left:2px;
  top:18px;
  width:146px;
  word-wrap:break-word;
}
#u22303_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:60px;
}
#u22303 {
  position:absolute;
  left:790px;
  top:40px;
  width:158px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u22304 {
  position:absolute;
  left:2px;
  top:22px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22305_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:60px;
}
#u22305 {
  position:absolute;
  left:0px;
  top:100px;
  width:55px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u22306 {
  position:absolute;
  left:2px;
  top:18px;
  width:51px;
  word-wrap:break-word;
}
#u22307_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:60px;
}
#u22307 {
  position:absolute;
  left:55px;
  top:100px;
  width:163px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u22308 {
  position:absolute;
  left:20px;
  top:22px;
  width:141px;
  word-wrap:break-word;
}
#u22309_img {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:60px;
}
#u22309 {
  position:absolute;
  left:218px;
  top:100px;
  width:237px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u22310 {
  position:absolute;
  left:2px;
  top:18px;
  width:233px;
  word-wrap:break-word;
}
#u22311_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:60px;
}
#u22311 {
  position:absolute;
  left:455px;
  top:100px;
  width:185px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u22312 {
  position:absolute;
  left:2px;
  top:18px;
  width:181px;
  word-wrap:break-word;
}
#u22313_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u22313 {
  position:absolute;
  left:640px;
  top:100px;
  width:150px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u22314 {
  position:absolute;
  left:2px;
  top:18px;
  width:146px;
  word-wrap:break-word;
}
#u22315_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:60px;
}
#u22315 {
  position:absolute;
  left:790px;
  top:100px;
  width:158px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u22316 {
  position:absolute;
  left:2px;
  top:22px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22317_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:60px;
}
#u22317 {
  position:absolute;
  left:0px;
  top:160px;
  width:55px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u22318 {
  position:absolute;
  left:2px;
  top:18px;
  width:51px;
  word-wrap:break-word;
}
#u22319_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:60px;
}
#u22319 {
  position:absolute;
  left:55px;
  top:160px;
  width:163px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u22320 {
  position:absolute;
  left:20px;
  top:22px;
  width:141px;
  word-wrap:break-word;
}
#u22321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:60px;
}
#u22321 {
  position:absolute;
  left:218px;
  top:160px;
  width:237px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u22322 {
  position:absolute;
  left:2px;
  top:18px;
  width:233px;
  word-wrap:break-word;
}
#u22323_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:60px;
}
#u22323 {
  position:absolute;
  left:455px;
  top:160px;
  width:185px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u22324 {
  position:absolute;
  left:2px;
  top:18px;
  width:181px;
  word-wrap:break-word;
}
#u22325_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u22325 {
  position:absolute;
  left:640px;
  top:160px;
  width:150px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u22326 {
  position:absolute;
  left:2px;
  top:18px;
  width:146px;
  word-wrap:break-word;
}
#u22327_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:60px;
}
#u22327 {
  position:absolute;
  left:790px;
  top:160px;
  width:158px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u22328 {
  position:absolute;
  left:2px;
  top:22px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22329_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:60px;
}
#u22329 {
  position:absolute;
  left:0px;
  top:220px;
  width:55px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u22330 {
  position:absolute;
  left:2px;
  top:18px;
  width:51px;
  word-wrap:break-word;
}
#u22331_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:60px;
}
#u22331 {
  position:absolute;
  left:55px;
  top:220px;
  width:163px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u22332 {
  position:absolute;
  left:20px;
  top:22px;
  width:141px;
  word-wrap:break-word;
}
#u22333_img {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:60px;
}
#u22333 {
  position:absolute;
  left:218px;
  top:220px;
  width:237px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u22334 {
  position:absolute;
  left:2px;
  top:18px;
  width:233px;
  word-wrap:break-word;
}
#u22335_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:60px;
}
#u22335 {
  position:absolute;
  left:455px;
  top:220px;
  width:185px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u22336 {
  position:absolute;
  left:2px;
  top:18px;
  width:181px;
  word-wrap:break-word;
}
#u22337_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u22337 {
  position:absolute;
  left:640px;
  top:220px;
  width:150px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u22338 {
  position:absolute;
  left:2px;
  top:18px;
  width:146px;
  word-wrap:break-word;
}
#u22339_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:60px;
}
#u22339 {
  position:absolute;
  left:790px;
  top:220px;
  width:158px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u22340 {
  position:absolute;
  left:2px;
  top:22px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22341_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:60px;
}
#u22341 {
  position:absolute;
  left:0px;
  top:280px;
  width:55px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u22342 {
  position:absolute;
  left:2px;
  top:18px;
  width:51px;
  word-wrap:break-word;
}
#u22343_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:60px;
}
#u22343 {
  position:absolute;
  left:55px;
  top:280px;
  width:163px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u22344 {
  position:absolute;
  left:20px;
  top:22px;
  width:141px;
  word-wrap:break-word;
}
#u22345_img {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:60px;
}
#u22345 {
  position:absolute;
  left:218px;
  top:280px;
  width:237px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u22346 {
  position:absolute;
  left:2px;
  top:18px;
  width:233px;
  word-wrap:break-word;
}
#u22347_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:60px;
}
#u22347 {
  position:absolute;
  left:455px;
  top:280px;
  width:185px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u22348 {
  position:absolute;
  left:2px;
  top:18px;
  width:181px;
  word-wrap:break-word;
}
#u22349_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u22349 {
  position:absolute;
  left:640px;
  top:280px;
  width:150px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u22350 {
  position:absolute;
  left:2px;
  top:18px;
  width:146px;
  word-wrap:break-word;
}
#u22351_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:60px;
}
#u22351 {
  position:absolute;
  left:790px;
  top:280px;
  width:158px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u22352 {
  position:absolute;
  left:2px;
  top:22px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22353_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u22353 {
  position:absolute;
  left:269px;
  top:94px;
  width:70px;
  height:40px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u22353_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  background:inherit;
  background-color:rgba(102, 177, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 177, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u22353.mouseOver {
}
#u22353_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  background:inherit;
  background-color:rgba(58, 142, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(58, 142, 230, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u22353.mouseDown {
}
#u22353_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  background:inherit;
  background-color:rgba(160, 207, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(160, 207, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u22353.disabled {
}
#u22354 {
  position:absolute;
  left:2px;
  top:12px;
  width:66px;
  word-wrap:break-word;
}
#u22355_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 223, 230, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22355 {
  position:absolute;
  left:59px;
  top:94px;
  width:200px;
  height:40px;
}
#u22355_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22355.mouseOver {
}
#u22355_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22355.selected {
}
#u22356 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22357 {
  position:absolute;
  left:66px;
  top:101px;
  width:178px;
  height:25px;
}
#u22357_input {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#495060;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u22358_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:23px;
}
#u22358 {
  position:absolute;
  left:300px;
  top:500px;
  width:164px;
  height:23px;
}
#u22359 {
  position:absolute;
  left:2px;
  top:4px;
  width:160px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22360 {
  position:absolute;
  left:372px;
  top:520px;
  width:20px;
  height:16px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u22361 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22362 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22363_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u22363 {
  position:absolute;
  left:112px;
  top:556px;
  width:70px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u22363_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(25, 137, 250, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u22363.mouseOver {
}
#u22363_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  background:inherit;
  background-color:rgba(25, 137, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(25, 137, 250, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u22363.mouseDown {
}
#u22364 {
  position:absolute;
  left:2px;
  top:10px;
  width:66px;
  word-wrap:break-word;
}
#u22365_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  background:inherit;
  background-color:rgba(35, 142, 250, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u22365 {
  position:absolute;
  left:16px;
  top:556px;
  width:70px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u22365_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  background:inherit;
  background-color:rgba(25, 137, 250, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u22365.mouseOver {
  opacity:0.8;
}
#u22365_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  background:inherit;
  background-color:rgba(25, 137, 250, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u22365.mouseDown {
  opacity:1;
}
#u22366 {
  position:absolute;
  left:2px;
  top:10px;
  width:66px;
  word-wrap:break-word;
}
#u22367 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22368 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22369 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22370_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u22370 {
  position:absolute;
  left:881px;
  top:199px;
  width:87px;
  height:32px;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u22371 {
  position:absolute;
  left:12px;
  top:5px;
  width:73px;
  word-wrap:break-word;
}
#u22372_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u22372 {
  position:absolute;
  left:951px;
  top:218px;
  width:10px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u22373 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22374_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u22374 {
  position:absolute;
  left:951px;
  top:202px;
  width:10px;
  height:10px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  opacity:0.449999988079071;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u22375 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22376_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:2px;
}
#u22376 {
  position:absolute;
  left:945px;
  top:215px;
  width:22px;
  height:1px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u22377 {
  position:absolute;
  left:2px;
  top:-8px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22378_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:2px;
}
#u22378 {
  position:absolute;
  left:930px;
  top:214px;
  width:31px;
  height:1px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u22379 {
  position:absolute;
  left:17px;
  top:-8px;
  width:1px;
  visibility:hidden;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:-1.5px 8.5px;
  -ms-transform-origin:-1.5px 8.5px;
  -moz-transform-origin:-1.5px 8.5px;
  -webkit-transform-origin:-1.5px 8.5px;
}
#u22380 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22381 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22382 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22383_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u22383 {
  position:absolute;
  left:880px;
  top:259px;
  width:87px;
  height:32px;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u22384 {
  position:absolute;
  left:12px;
  top:5px;
  width:73px;
  word-wrap:break-word;
}
#u22385_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u22385 {
  position:absolute;
  left:950px;
  top:278px;
  width:10px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u22386 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22387_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u22387 {
  position:absolute;
  left:950px;
  top:262px;
  width:10px;
  height:10px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  opacity:0.449999988079071;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u22388 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22389_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:2px;
}
#u22389 {
  position:absolute;
  left:944px;
  top:275px;
  width:22px;
  height:1px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u22390 {
  position:absolute;
  left:2px;
  top:-8px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22391_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:2px;
}
#u22391 {
  position:absolute;
  left:929px;
  top:274px;
  width:31px;
  height:1px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u22392 {
  position:absolute;
  left:17px;
  top:-8px;
  width:1px;
  visibility:hidden;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:-1.5px 8.5px;
  -ms-transform-origin:-1.5px 8.5px;
  -moz-transform-origin:-1.5px 8.5px;
  -webkit-transform-origin:-1.5px 8.5px;
}
#u22393 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22394 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22395 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22396_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u22396 {
  position:absolute;
  left:880px;
  top:320px;
  width:87px;
  height:32px;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u22397 {
  position:absolute;
  left:12px;
  top:5px;
  width:73px;
  word-wrap:break-word;
}
#u22398_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u22398 {
  position:absolute;
  left:950px;
  top:339px;
  width:10px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u22399 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22400_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u22400 {
  position:absolute;
  left:950px;
  top:323px;
  width:10px;
  height:10px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  opacity:0.449999988079071;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u22401 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22402_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:2px;
}
#u22402 {
  position:absolute;
  left:944px;
  top:336px;
  width:22px;
  height:1px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u22403 {
  position:absolute;
  left:2px;
  top:-8px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22404_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:2px;
}
#u22404 {
  position:absolute;
  left:929px;
  top:335px;
  width:31px;
  height:1px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u22405 {
  position:absolute;
  left:17px;
  top:-8px;
  width:1px;
  visibility:hidden;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:-1.5px 8.5px;
  -ms-transform-origin:-1.5px 8.5px;
  -moz-transform-origin:-1.5px 8.5px;
  -webkit-transform-origin:-1.5px 8.5px;
}
#u22406 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22407 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22408 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22409_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u22409 {
  position:absolute;
  left:880px;
  top:379px;
  width:87px;
  height:32px;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u22410 {
  position:absolute;
  left:12px;
  top:5px;
  width:73px;
  word-wrap:break-word;
}
#u22411_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u22411 {
  position:absolute;
  left:950px;
  top:398px;
  width:10px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u22412 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22413_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u22413 {
  position:absolute;
  left:950px;
  top:382px;
  width:10px;
  height:10px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  opacity:0.449999988079071;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u22414 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22415_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:2px;
}
#u22415 {
  position:absolute;
  left:944px;
  top:395px;
  width:22px;
  height:1px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u22416 {
  position:absolute;
  left:2px;
  top:-8px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22417_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:2px;
}
#u22417 {
  position:absolute;
  left:929px;
  top:394px;
  width:31px;
  height:1px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u22418 {
  position:absolute;
  left:17px;
  top:-8px;
  width:1px;
  visibility:hidden;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:-1.5px 8.5px;
  -ms-transform-origin:-1.5px 8.5px;
  -moz-transform-origin:-1.5px 8.5px;
  -webkit-transform-origin:-1.5px 8.5px;
}
#u22419 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22420 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22421 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22422_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u22422 {
  position:absolute;
  left:880px;
  top:439px;
  width:87px;
  height:32px;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u22423 {
  position:absolute;
  left:12px;
  top:5px;
  width:73px;
  word-wrap:break-word;
}
#u22424_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u22424 {
  position:absolute;
  left:950px;
  top:458px;
  width:10px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u22425 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22426_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u22426 {
  position:absolute;
  left:950px;
  top:442px;
  width:10px;
  height:10px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  opacity:0.449999988079071;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u22427 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22428_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:2px;
}
#u22428 {
  position:absolute;
  left:944px;
  top:455px;
  width:22px;
  height:1px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u22429 {
  position:absolute;
  left:2px;
  top:-8px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22430_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:2px;
}
#u22430 {
  position:absolute;
  left:929px;
  top:454px;
  width:31px;
  height:1px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u22431 {
  position:absolute;
  left:17px;
  top:-8px;
  width:1px;
  visibility:hidden;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:-1.5px 8.5px;
  -ms-transform-origin:-1.5px 8.5px;
  -moz-transform-origin:-1.5px 8.5px;
  -webkit-transform-origin:-1.5px 8.5px;
}
#u22432_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u22432 {
  position:absolute;
  left:560px;
  top:48px;
  width:181px;
  height:25px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u22433 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u22434_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u22434 {
  position:absolute;
  left:562px;
  top:84px;
  width:221px;
  height:68px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u22435 {
  position:absolute;
  left:8px;
  top:4px;
  width:213px;
  word-wrap:break-word;
}
