body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1198px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u22810_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1198px;
  height:611px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:20px;
}
#u22810 {
  position:absolute;
  left:0px;
  top:0px;
  width:1198px;
  height:611px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:20px;
}
#u22811 {
  position:absolute;
  left:20px;
  top:15px;
  width:1158px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22812_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u22812 {
  position:absolute;
  left:20px;
  top:14px;
  width:109px;
  height:22px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
}
#u22813 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u22814_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u22814 {
  position:absolute;
  left:1142px;
  top:10px;
  width:19px;
  height:20px;
  font-family:'Anticon Regular', 'Anticon';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u22815 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22816 {
  position:absolute;
  left:860px;
  top:10px;
  width:20px;
  height:17px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u22817_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1014px;
  height:490px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22817 {
  position:absolute;
  left:16px;
  top:46px;
  width:1014px;
  height:490px;
}
#u22818 {
  position:absolute;
  left:2px;
  top:237px;
  width:1010px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22819 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22820_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1014px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
}
#u22820 {
  position:absolute;
  left:16px;
  top:46px;
  width:1014px;
  height:38px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
}
#u22821 {
  position:absolute;
  left:2px;
  top:10px;
  width:996px;
  word-wrap:break-word;
}
#u22822 {
  position:absolute;
  left:59px;
  top:144px;
  width:953px;
  height:345px;
}
#u22823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:40px;
}
#u22823 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u22824 {
  position:absolute;
  left:2px;
  top:10px;
  width:51px;
  word-wrap:break-word;
}
#u22825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:40px;
}
#u22825 {
  position:absolute;
  left:55px;
  top:0px;
  width:163px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u22826 {
  position:absolute;
  left:2px;
  top:10px;
  width:159px;
  word-wrap:break-word;
}
#u22827_img {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:40px;
}
#u22827 {
  position:absolute;
  left:218px;
  top:0px;
  width:237px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u22828 {
  position:absolute;
  left:2px;
  top:10px;
  width:233px;
  word-wrap:break-word;
}
#u22829_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:40px;
}
#u22829 {
  position:absolute;
  left:455px;
  top:0px;
  width:185px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u22830 {
  position:absolute;
  left:2px;
  top:10px;
  width:181px;
  word-wrap:break-word;
}
#u22831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u22831 {
  position:absolute;
  left:640px;
  top:0px;
  width:150px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u22832 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u22833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:40px;
}
#u22833 {
  position:absolute;
  left:790px;
  top:0px;
  width:158px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u22834 {
  position:absolute;
  left:2px;
  top:10px;
  width:154px;
  word-wrap:break-word;
}
#u22835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:60px;
}
#u22835 {
  position:absolute;
  left:0px;
  top:40px;
  width:55px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u22836 {
  position:absolute;
  left:2px;
  top:18px;
  width:51px;
  word-wrap:break-word;
}
#u22837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:60px;
}
#u22837 {
  position:absolute;
  left:55px;
  top:40px;
  width:163px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u22838 {
  position:absolute;
  left:20px;
  top:22px;
  width:141px;
  word-wrap:break-word;
}
#u22839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:60px;
}
#u22839 {
  position:absolute;
  left:218px;
  top:40px;
  width:237px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u22840 {
  position:absolute;
  left:2px;
  top:18px;
  width:233px;
  word-wrap:break-word;
}
#u22841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:60px;
}
#u22841 {
  position:absolute;
  left:455px;
  top:40px;
  width:185px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u22842 {
  position:absolute;
  left:2px;
  top:18px;
  width:181px;
  word-wrap:break-word;
}
#u22843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u22843 {
  position:absolute;
  left:640px;
  top:40px;
  width:150px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u22844 {
  position:absolute;
  left:2px;
  top:18px;
  width:146px;
  word-wrap:break-word;
}
#u22845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:60px;
}
#u22845 {
  position:absolute;
  left:790px;
  top:40px;
  width:158px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u22846 {
  position:absolute;
  left:2px;
  top:22px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:60px;
}
#u22847 {
  position:absolute;
  left:0px;
  top:100px;
  width:55px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u22848 {
  position:absolute;
  left:2px;
  top:18px;
  width:51px;
  word-wrap:break-word;
}
#u22849_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:60px;
}
#u22849 {
  position:absolute;
  left:55px;
  top:100px;
  width:163px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u22850 {
  position:absolute;
  left:20px;
  top:22px;
  width:141px;
  word-wrap:break-word;
}
#u22851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:60px;
}
#u22851 {
  position:absolute;
  left:218px;
  top:100px;
  width:237px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u22852 {
  position:absolute;
  left:2px;
  top:18px;
  width:233px;
  word-wrap:break-word;
}
#u22853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:60px;
}
#u22853 {
  position:absolute;
  left:455px;
  top:100px;
  width:185px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u22854 {
  position:absolute;
  left:2px;
  top:18px;
  width:181px;
  word-wrap:break-word;
}
#u22855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u22855 {
  position:absolute;
  left:640px;
  top:100px;
  width:150px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u22856 {
  position:absolute;
  left:2px;
  top:18px;
  width:146px;
  word-wrap:break-word;
}
#u22857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:60px;
}
#u22857 {
  position:absolute;
  left:790px;
  top:100px;
  width:158px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u22858 {
  position:absolute;
  left:2px;
  top:22px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:60px;
}
#u22859 {
  position:absolute;
  left:0px;
  top:160px;
  width:55px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u22860 {
  position:absolute;
  left:2px;
  top:18px;
  width:51px;
  word-wrap:break-word;
}
#u22861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:60px;
}
#u22861 {
  position:absolute;
  left:55px;
  top:160px;
  width:163px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u22862 {
  position:absolute;
  left:20px;
  top:22px;
  width:141px;
  word-wrap:break-word;
}
#u22863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:60px;
}
#u22863 {
  position:absolute;
  left:218px;
  top:160px;
  width:237px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u22864 {
  position:absolute;
  left:2px;
  top:18px;
  width:233px;
  word-wrap:break-word;
}
#u22865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:60px;
}
#u22865 {
  position:absolute;
  left:455px;
  top:160px;
  width:185px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u22866 {
  position:absolute;
  left:2px;
  top:18px;
  width:181px;
  word-wrap:break-word;
}
#u22867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u22867 {
  position:absolute;
  left:640px;
  top:160px;
  width:150px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u22868 {
  position:absolute;
  left:2px;
  top:18px;
  width:146px;
  word-wrap:break-word;
}
#u22869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:60px;
}
#u22869 {
  position:absolute;
  left:790px;
  top:160px;
  width:158px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u22870 {
  position:absolute;
  left:2px;
  top:22px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:60px;
}
#u22871 {
  position:absolute;
  left:0px;
  top:220px;
  width:55px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u22872 {
  position:absolute;
  left:2px;
  top:18px;
  width:51px;
  word-wrap:break-word;
}
#u22873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:60px;
}
#u22873 {
  position:absolute;
  left:55px;
  top:220px;
  width:163px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u22874 {
  position:absolute;
  left:20px;
  top:22px;
  width:141px;
  word-wrap:break-word;
}
#u22875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:60px;
}
#u22875 {
  position:absolute;
  left:218px;
  top:220px;
  width:237px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u22876 {
  position:absolute;
  left:2px;
  top:18px;
  width:233px;
  word-wrap:break-word;
}
#u22877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:60px;
}
#u22877 {
  position:absolute;
  left:455px;
  top:220px;
  width:185px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u22878 {
  position:absolute;
  left:2px;
  top:18px;
  width:181px;
  word-wrap:break-word;
}
#u22879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u22879 {
  position:absolute;
  left:640px;
  top:220px;
  width:150px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u22880 {
  position:absolute;
  left:2px;
  top:18px;
  width:146px;
  word-wrap:break-word;
}
#u22881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:60px;
}
#u22881 {
  position:absolute;
  left:790px;
  top:220px;
  width:158px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u22882 {
  position:absolute;
  left:2px;
  top:22px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:60px;
}
#u22883 {
  position:absolute;
  left:0px;
  top:280px;
  width:55px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u22884 {
  position:absolute;
  left:2px;
  top:18px;
  width:51px;
  word-wrap:break-word;
}
#u22885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:60px;
}
#u22885 {
  position:absolute;
  left:55px;
  top:280px;
  width:163px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u22886 {
  position:absolute;
  left:20px;
  top:22px;
  width:141px;
  word-wrap:break-word;
}
#u22887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:60px;
}
#u22887 {
  position:absolute;
  left:218px;
  top:280px;
  width:237px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u22888 {
  position:absolute;
  left:2px;
  top:18px;
  width:233px;
  word-wrap:break-word;
}
#u22889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:60px;
}
#u22889 {
  position:absolute;
  left:455px;
  top:280px;
  width:185px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u22890 {
  position:absolute;
  left:2px;
  top:18px;
  width:181px;
  word-wrap:break-word;
}
#u22891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u22891 {
  position:absolute;
  left:640px;
  top:280px;
  width:150px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u22892 {
  position:absolute;
  left:2px;
  top:18px;
  width:146px;
  word-wrap:break-word;
}
#u22893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:60px;
}
#u22893 {
  position:absolute;
  left:790px;
  top:280px;
  width:158px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u22894 {
  position:absolute;
  left:2px;
  top:22px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u22895 {
  position:absolute;
  left:269px;
  top:94px;
  width:70px;
  height:40px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u22895_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  background:inherit;
  background-color:rgba(102, 177, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 177, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u22895.mouseOver {
}
#u22895_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  background:inherit;
  background-color:rgba(58, 142, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(58, 142, 230, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u22895.mouseDown {
}
#u22895_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  background:inherit;
  background-color:rgba(160, 207, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(160, 207, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u22895.disabled {
}
#u22896 {
  position:absolute;
  left:2px;
  top:12px;
  width:66px;
  word-wrap:break-word;
}
#u22897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 223, 230, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22897 {
  position:absolute;
  left:59px;
  top:94px;
  width:200px;
  height:40px;
}
#u22897_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22897.mouseOver {
}
#u22897_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22897.selected {
}
#u22898 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22899 {
  position:absolute;
  left:66px;
  top:101px;
  width:178px;
  height:25px;
}
#u22899_input {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#495060;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u22900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:23px;
}
#u22900 {
  position:absolute;
  left:300px;
  top:500px;
  width:164px;
  height:23px;
}
#u22901 {
  position:absolute;
  left:2px;
  top:4px;
  width:160px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22902 {
  position:absolute;
  left:372px;
  top:520px;
  width:20px;
  height:16px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u22903 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22904 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u22905 {
  position:absolute;
  left:112px;
  top:556px;
  width:70px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u22905_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(25, 137, 250, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u22905.mouseOver {
}
#u22905_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  background:inherit;
  background-color:rgba(25, 137, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(25, 137, 250, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u22905.mouseDown {
}
#u22906 {
  position:absolute;
  left:2px;
  top:10px;
  width:66px;
  word-wrap:break-word;
}
#u22907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  background:inherit;
  background-color:rgba(35, 142, 250, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u22907 {
  position:absolute;
  left:16px;
  top:556px;
  width:70px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u22907_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  background:inherit;
  background-color:rgba(25, 137, 250, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u22907.mouseOver {
  opacity:0.8;
}
#u22907_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  background:inherit;
  background-color:rgba(25, 137, 250, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u22907.mouseDown {
  opacity:1;
}
#u22908 {
  position:absolute;
  left:2px;
  top:10px;
  width:66px;
  word-wrap:break-word;
}
#u22909 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22910 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22911 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u22912 {
  position:absolute;
  left:881px;
  top:199px;
  width:87px;
  height:32px;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u22913 {
  position:absolute;
  left:12px;
  top:5px;
  width:73px;
  word-wrap:break-word;
}
#u22914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u22914 {
  position:absolute;
  left:951px;
  top:218px;
  width:10px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u22915 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u22916 {
  position:absolute;
  left:951px;
  top:202px;
  width:10px;
  height:10px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  opacity:0.449999988079071;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u22917 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:2px;
}
#u22918 {
  position:absolute;
  left:945px;
  top:215px;
  width:22px;
  height:1px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u22919 {
  position:absolute;
  left:2px;
  top:-8px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:2px;
}
#u22920 {
  position:absolute;
  left:930px;
  top:214px;
  width:31px;
  height:1px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u22921 {
  position:absolute;
  left:17px;
  top:-8px;
  width:1px;
  visibility:hidden;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:-1.5px 8.5px;
  -ms-transform-origin:-1.5px 8.5px;
  -moz-transform-origin:-1.5px 8.5px;
  -webkit-transform-origin:-1.5px 8.5px;
}
#u22922 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22923 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22924 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u22925 {
  position:absolute;
  left:880px;
  top:259px;
  width:87px;
  height:32px;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u22926 {
  position:absolute;
  left:12px;
  top:5px;
  width:73px;
  word-wrap:break-word;
}
#u22927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u22927 {
  position:absolute;
  left:950px;
  top:278px;
  width:10px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u22928 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u22929 {
  position:absolute;
  left:950px;
  top:262px;
  width:10px;
  height:10px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  opacity:0.449999988079071;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u22930 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:2px;
}
#u22931 {
  position:absolute;
  left:944px;
  top:275px;
  width:22px;
  height:1px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u22932 {
  position:absolute;
  left:2px;
  top:-8px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:2px;
}
#u22933 {
  position:absolute;
  left:929px;
  top:274px;
  width:31px;
  height:1px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u22934 {
  position:absolute;
  left:17px;
  top:-8px;
  width:1px;
  visibility:hidden;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:-1.5px 8.5px;
  -ms-transform-origin:-1.5px 8.5px;
  -moz-transform-origin:-1.5px 8.5px;
  -webkit-transform-origin:-1.5px 8.5px;
}
#u22935 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22936 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22937 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u22938 {
  position:absolute;
  left:880px;
  top:320px;
  width:87px;
  height:32px;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u22939 {
  position:absolute;
  left:12px;
  top:5px;
  width:73px;
  word-wrap:break-word;
}
#u22940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u22940 {
  position:absolute;
  left:950px;
  top:339px;
  width:10px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u22941 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u22942 {
  position:absolute;
  left:950px;
  top:323px;
  width:10px;
  height:10px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  opacity:0.449999988079071;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u22943 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:2px;
}
#u22944 {
  position:absolute;
  left:944px;
  top:336px;
  width:22px;
  height:1px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u22945 {
  position:absolute;
  left:2px;
  top:-8px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:2px;
}
#u22946 {
  position:absolute;
  left:929px;
  top:335px;
  width:31px;
  height:1px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u22947 {
  position:absolute;
  left:17px;
  top:-8px;
  width:1px;
  visibility:hidden;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:-1.5px 8.5px;
  -ms-transform-origin:-1.5px 8.5px;
  -moz-transform-origin:-1.5px 8.5px;
  -webkit-transform-origin:-1.5px 8.5px;
}
#u22948 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22949 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22950 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u22951 {
  position:absolute;
  left:880px;
  top:379px;
  width:87px;
  height:32px;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u22952 {
  position:absolute;
  left:12px;
  top:5px;
  width:73px;
  word-wrap:break-word;
}
#u22953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u22953 {
  position:absolute;
  left:950px;
  top:398px;
  width:10px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u22954 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u22955 {
  position:absolute;
  left:950px;
  top:382px;
  width:10px;
  height:10px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  opacity:0.449999988079071;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u22956 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:2px;
}
#u22957 {
  position:absolute;
  left:944px;
  top:395px;
  width:22px;
  height:1px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u22958 {
  position:absolute;
  left:2px;
  top:-8px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:2px;
}
#u22959 {
  position:absolute;
  left:929px;
  top:394px;
  width:31px;
  height:1px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u22960 {
  position:absolute;
  left:17px;
  top:-8px;
  width:1px;
  visibility:hidden;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:-1.5px 8.5px;
  -ms-transform-origin:-1.5px 8.5px;
  -moz-transform-origin:-1.5px 8.5px;
  -webkit-transform-origin:-1.5px 8.5px;
}
#u22961 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22962 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22963 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u22964 {
  position:absolute;
  left:880px;
  top:439px;
  width:87px;
  height:32px;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u22965 {
  position:absolute;
  left:12px;
  top:5px;
  width:73px;
  word-wrap:break-word;
}
#u22966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u22966 {
  position:absolute;
  left:950px;
  top:458px;
  width:10px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u22967 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u22968 {
  position:absolute;
  left:950px;
  top:442px;
  width:10px;
  height:10px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  opacity:0.449999988079071;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u22969 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:2px;
}
#u22970 {
  position:absolute;
  left:944px;
  top:455px;
  width:22px;
  height:1px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u22971 {
  position:absolute;
  left:2px;
  top:-8px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:2px;
}
#u22972 {
  position:absolute;
  left:929px;
  top:454px;
  width:31px;
  height:1px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u22973 {
  position:absolute;
  left:17px;
  top:-8px;
  width:1px;
  visibility:hidden;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:-1.5px 8.5px;
  -ms-transform-origin:-1.5px 8.5px;
  -moz-transform-origin:-1.5px 8.5px;
  -webkit-transform-origin:-1.5px 8.5px;
}
#u22974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u22974 {
  position:absolute;
  left:560px;
  top:48px;
  width:181px;
  height:25px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u22975 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u22976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u22976 {
  position:absolute;
  left:562px;
  top:84px;
  width:221px;
  height:68px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u22977 {
  position:absolute;
  left:8px;
  top:4px;
  width:213px;
  word-wrap:break-word;
}
