body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1458px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u17856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1458px;
  height:813px;
}
#u17856 {
  position:absolute;
  left:0px;
  top:0px;
  width:1458px;
  height:813px;
}
#u17857 {
  position:absolute;
  left:2px;
  top:398px;
  width:1454px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17858 {
  position:absolute;
  left:719px;
  top:-12px;
  width:70px;
  height:51px;
  overflow:hidden;
}
#u17858_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:51px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u17858_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17859 {
  position:absolute;
  left:649px;
  top:0px;
  width:70px;
  height:51px;
  overflow:hidden;
}
#u17859_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:51px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u17859_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
