body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1295px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u23729_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1295px;
  height:752px;
}
#u23729 {
  position:absolute;
  left:0px;
  top:64px;
  width:1295px;
  height:752px;
}
#u23730 {
  position:absolute;
  left:2px;
  top:368px;
  width:1291px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23731_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1279px;
  height:730px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23731 {
  position:absolute;
  left:9px;
  top:73px;
  width:1279px;
  height:730px;
}
#u23732 {
  position:absolute;
  left:2px;
  top:357px;
  width:1275px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23733_img {
  position:absolute;
  left:0px;
  top:0px;
  width:963px;
  height:450px;
}
#u23733 {
  position:absolute;
  left:227px;
  top:2516px;
  width:963px;
  height:450px;
}
#u23734 {
  position:absolute;
  left:2px;
  top:217px;
  width:959px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23735_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u23735 {
  position:absolute;
  left:9px;
  top:20px;
  width:29px;
  height:16px;
}
#u23736 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u23737 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23738_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1263px;
  height:129px;
}
#u23738 {
  position:absolute;
  left:17px;
  top:74px;
  width:1263px;
  height:129px;
}
#u23739 {
  position:absolute;
  left:2px;
  top:56px;
  width:1259px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23740_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:80px;
}
#u23740 {
  position:absolute;
  left:77px;
  top:101px;
  width:73px;
  height:80px;
}
#u23741 {
  position:absolute;
  left:2px;
  top:32px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23742_div {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u23742 {
  position:absolute;
  left:167px;
  top:113px;
  width:401px;
  height:23px;
  font-size:16px;
  color:#000000;
}
#u23743 {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  word-wrap:break-word;
}
#u23744_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u23744 {
  position:absolute;
  left:167px;
  top:146px;
  width:159px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u23745 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
