body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1295px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u23696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1295px;
  height:752px;
}
#u23696 {
  position:absolute;
  left:0px;
  top:64px;
  width:1295px;
  height:752px;
}
#u23697 {
  position:absolute;
  left:2px;
  top:368px;
  width:1291px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1279px;
  height:730px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23698 {
  position:absolute;
  left:9px;
  top:73px;
  width:1279px;
  height:730px;
}
#u23699 {
  position:absolute;
  left:2px;
  top:357px;
  width:1275px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23700_img {
  position:absolute;
  left:0px;
  top:0px;
  width:963px;
  height:450px;
}
#u23700 {
  position:absolute;
  left:227px;
  top:2516px;
  width:963px;
  height:450px;
}
#u23701 {
  position:absolute;
  left:2px;
  top:217px;
  width:959px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u23702 {
  position:absolute;
  left:9px;
  top:20px;
  width:29px;
  height:16px;
}
#u23703 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u23704 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23705_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1263px;
  height:129px;
}
#u23705 {
  position:absolute;
  left:17px;
  top:74px;
  width:1263px;
  height:129px;
}
#u23706 {
  position:absolute;
  left:2px;
  top:56px;
  width:1259px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:80px;
}
#u23707 {
  position:absolute;
  left:77px;
  top:101px;
  width:73px;
  height:80px;
}
#u23708 {
  position:absolute;
  left:2px;
  top:32px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23709_div {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u23709 {
  position:absolute;
  left:167px;
  top:113px;
  width:401px;
  height:23px;
  font-size:16px;
  color:#000000;
}
#u23710 {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  word-wrap:break-word;
}
#u23711_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u23711 {
  position:absolute;
  left:167px;
  top:146px;
  width:159px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u23712 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
