body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1462px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3780_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1462px;
  height:768px;
}
#u3780 {
  position:absolute;
  left:0px;
  top:0px;
  width:1462px;
  height:768px;
}
#u3781 {
  position:absolute;
  left:2px;
  top:376px;
  width:1458px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3782 {
  position:absolute;
  left:0px;
  top:0px;
  width:1462px;
  height:418px;
  overflow:hidden;
}
#u3782_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1462px;
  height:418px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3782_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3783_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:22px;
}
#u3783 {
  position:absolute;
  left:139px;
  top:152px;
  width:96px;
  height:22px;
}
#u3784 {
  position:absolute;
  left:2px;
  top:3px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3785_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:23px;
}
#u3785 {
  position:absolute;
  left:143px;
  top:175px;
  width:96px;
  height:23px;
}
#u3786 {
  position:absolute;
  left:2px;
  top:4px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3787_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:23px;
}
#u3787 {
  position:absolute;
  left:143px;
  top:199px;
  width:96px;
  height:23px;
}
#u3788 {
  position:absolute;
  left:2px;
  top:4px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
