body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:373px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u50673_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:594px;
  background:inherit;
  background-color:rgba(245, 245, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50673 {
  position:absolute;
  left:-1px;
  top:73px;
  width:375px;
  height:594px;
}
#u50674 {
  position:absolute;
  left:2px;
  top:289px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50675 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u50676 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u50677_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50677 {
  position:absolute;
  left:1px;
  top:0px;
  width:373px;
  height:73px;
}
#u50678 {
  position:absolute;
  left:2px;
  top:28px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50679 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u50680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#2697EB;
}
#u50680 {
  position:absolute;
  left:33px;
  top:33px;
  width:37px;
  height:23px;
  color:#2697EB;
}
#u50681 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  white-space:nowrap;
}
#u50682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
}
#u50682 {
  position:absolute;
  left:16px;
  top:34px;
  width:11px;
  height:16px;
}
#u50683 {
  position:absolute;
  left:2px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:20px;
}
#u50684 {
  position:absolute;
  left:145px;
  top:29px;
  width:85px;
  height:28px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:20px;
}
#u50685 {
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  white-space:nowrap;
}
#u50686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u50686 {
  position:absolute;
  left:11px;
  top:8px;
  width:360px;
  height:11px;
}
#u50687 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50688 {
  position:absolute;
  left:1px;
  top:173px;
  width:375px;
  height:65px;
  overflow:hidden;
}
#u50688_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:65px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u50688_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u50689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:79px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50689 {
  position:absolute;
  left:0px;
  top:1px;
  width:375px;
  height:79px;
}
#u50690 {
  position:absolute;
  left:2px;
  top:32px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50691_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50691 {
  position:absolute;
  left:7px;
  top:3px;
  width:43px;
  height:16px;
}
#u50692 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u50693 {
  position:absolute;
  left:50px;
  top:4px;
  width:312px;
  height:56px;
}
#u50693_input {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:56px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u50688_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:65px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u50688_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u50694 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u50695_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50695 {
  position:absolute;
  left:0px;
  top:1px;
  width:375px;
  height:100px;
}
#u50696 {
  position:absolute;
  left:2px;
  top:42px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u50697 {
  position:absolute;
  left:10px;
  top:5px;
  width:90px;
  height:90px;
}
#u50698 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u50699 {
  position:absolute;
  left:110px;
  top:8px;
  width:91px;
  height:22px;
  font-size:18px;
}
#u50700 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u50701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u50701 {
  position:absolute;
  left:109px;
  top:40px;
  width:66px;
  height:19px;
  font-size:16px;
}
#u50702 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u50703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u50703 {
  position:absolute;
  left:110px;
  top:69px;
  width:54px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u50704 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u50705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 204, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9900;
}
#u50705 {
  position:absolute;
  left:293px;
  top:8px;
  width:69px;
  height:27px;
  color:#FF9900;
}
#u50706 {
  position:absolute;
  left:2px;
  top:6px;
  width:65px;
  word-wrap:break-word;
}
#u50707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:31px;
}
#u50707 {
  position:absolute;
  left:330px;
  top:55px;
  width:33px;
  height:31px;
}
#u50708 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50709 {
  position:absolute;
  left:-1px;
  top:73px;
  width:375px;
  height:51px;
  overflow:hidden;
}
#u50709_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:51px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u50709_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u50710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50710 {
  position:absolute;
  left:0px;
  top:1px;
  width:375px;
  height:45px;
}
#u50711 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50712 {
  position:absolute;
  left:9px;
  top:16px;
  width:71px;
  height:16px;
}
#u50713 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u50714 {
  position:absolute;
  left:90px;
  top:7px;
  width:240px;
  height:35px;
}
#u50714_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u50709_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:51px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u50709_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u50715 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u50716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50716 {
  position:absolute;
  left:0px;
  top:1px;
  width:375px;
  height:100px;
}
#u50717 {
  position:absolute;
  left:2px;
  top:42px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50718_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u50718 {
  position:absolute;
  left:10px;
  top:5px;
  width:90px;
  height:90px;
}
#u50719 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u50720 {
  position:absolute;
  left:110px;
  top:8px;
  width:91px;
  height:22px;
  font-size:18px;
}
#u50721 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u50722_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u50722 {
  position:absolute;
  left:109px;
  top:40px;
  width:66px;
  height:19px;
  font-size:16px;
}
#u50723 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u50724_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u50724 {
  position:absolute;
  left:110px;
  top:69px;
  width:54px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u50725 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u50726_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 204, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9900;
}
#u50726 {
  position:absolute;
  left:293px;
  top:8px;
  width:69px;
  height:27px;
  color:#FF9900;
}
#u50727 {
  position:absolute;
  left:2px;
  top:6px;
  width:65px;
  word-wrap:break-word;
}
#u50728_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:31px;
}
#u50728 {
  position:absolute;
  left:330px;
  top:55px;
  width:33px;
  height:31px;
}
#u50729 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50730 {
  position:absolute;
  left:0px;
  top:120px;
  width:375px;
  height:55px;
  overflow:hidden;
}
#u50730_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:55px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u50730_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u50731_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50731 {
  position:absolute;
  left:0px;
  top:1px;
  width:375px;
  height:49px;
}
#u50732 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50733_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50733 {
  position:absolute;
  left:9px;
  top:16px;
  width:85px;
  height:16px;
}
#u50734 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u50735 {
  position:absolute;
  left:139px;
  top:16px;
  width:40px;
  height:16px;
}
#u50736 {
  position:absolute;
  left:16px;
  top:0px;
  width:22px;
  word-wrap:break-word;
}
#u50735_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u50737 {
  position:absolute;
  left:229px;
  top:16px;
  width:40px;
  height:16px;
}
#u50738 {
  position:absolute;
  left:16px;
  top:0px;
  width:22px;
  word-wrap:break-word;
}
#u50737_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u50730_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:55px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u50730_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u50739 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u50740_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50740 {
  position:absolute;
  left:0px;
  top:1px;
  width:375px;
  height:100px;
}
#u50741 {
  position:absolute;
  left:2px;
  top:42px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50742_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u50742 {
  position:absolute;
  left:10px;
  top:5px;
  width:90px;
  height:90px;
}
#u50743 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50744_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u50744 {
  position:absolute;
  left:110px;
  top:8px;
  width:91px;
  height:22px;
  font-size:18px;
}
#u50745 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u50746_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u50746 {
  position:absolute;
  left:109px;
  top:40px;
  width:66px;
  height:19px;
  font-size:16px;
}
#u50747 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u50748_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u50748 {
  position:absolute;
  left:110px;
  top:69px;
  width:54px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u50749 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u50750_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 204, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9900;
}
#u50750 {
  position:absolute;
  left:293px;
  top:8px;
  width:69px;
  height:27px;
  color:#FF9900;
}
#u50751 {
  position:absolute;
  left:2px;
  top:6px;
  width:65px;
  word-wrap:break-word;
}
#u50752_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:31px;
}
#u50752 {
  position:absolute;
  left:330px;
  top:55px;
  width:33px;
  height:31px;
}
#u50753 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50754 {
  position:absolute;
  left:1px;
  top:380px;
  width:372px;
  height:289px;
  overflow:hidden;
  visibility:hidden;
}
#u50754_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:289px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u50754_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u50755_div {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:267px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50755 {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:267px;
}
#u50756 {
  position:absolute;
  left:2px;
  top:126px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50757 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u50758 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u50759_div {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50759 {
  position:absolute;
  left:0px;
  top:46px;
  width:370px;
  height:45px;
}
#u50760 {
  position:absolute;
  left:2px;
  top:14px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50761_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u50761 {
  position:absolute;
  left:13px;
  top:60px;
  width:151px;
  height:21px;
  font-size:14px;
}
#u50762 {
  position:absolute;
  left:2px;
  top:2px;
  width:147px;
  word-wrap:break-word;
}
#u50763 {
  position:absolute;
  left:324px;
  top:58px;
  width:33px;
  height:29px;
  overflow:hidden;
}
#u50763_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:29px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u50763_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u50764_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u50764 {
  position:absolute;
  left:1px;
  top:1px;
  width:20px;
  height:20px;
}
#u50765 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50763_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:29px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u50763_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u50766_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:26px;
}
#u50766 {
  position:absolute;
  left:-3px;
  top:0px;
  width:27px;
  height:26px;
}
#u50767 {
  position:absolute;
  left:2px;
  top:5px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50768_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50768 {
  position:absolute;
  left:17px;
  top:17px;
  width:29px;
  height:17px;
}
#u50769 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u50770_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3D84FA;
}
#u50770 {
  position:absolute;
  left:328px;
  top:17px;
  width:29px;
  height:17px;
  color:#3D84FA;
}
#u50771 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u50772 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u50773 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u50774_div {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50774 {
  position:absolute;
  left:0px;
  top:90px;
  width:370px;
  height:45px;
}
#u50775 {
  position:absolute;
  left:2px;
  top:14px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50776_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u50776 {
  position:absolute;
  left:13px;
  top:104px;
  width:151px;
  height:21px;
  font-size:14px;
}
#u50777 {
  position:absolute;
  left:2px;
  top:2px;
  width:147px;
  word-wrap:break-word;
}
#u50778 {
  position:absolute;
  left:324px;
  top:102px;
  width:33px;
  height:29px;
  overflow:hidden;
}
#u50778_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:29px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u50778_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u50779_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u50779 {
  position:absolute;
  left:1px;
  top:1px;
  width:20px;
  height:20px;
}
#u50780 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50778_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:29px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u50778_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u50781_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:26px;
}
#u50781 {
  position:absolute;
  left:-3px;
  top:0px;
  width:27px;
  height:26px;
}
#u50782 {
  position:absolute;
  left:2px;
  top:5px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50783 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u50784 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u50785_div {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50785 {
  position:absolute;
  left:0px;
  top:134px;
  width:370px;
  height:45px;
}
#u50786 {
  position:absolute;
  left:2px;
  top:14px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50787_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u50787 {
  position:absolute;
  left:13px;
  top:148px;
  width:153px;
  height:21px;
  font-size:14px;
}
#u50788 {
  position:absolute;
  left:2px;
  top:2px;
  width:149px;
  word-wrap:break-word;
}
#u50789 {
  position:absolute;
  left:324px;
  top:146px;
  width:33px;
  height:29px;
  overflow:hidden;
}
#u50789_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:29px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u50789_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u50790_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:26px;
}
#u50790 {
  position:absolute;
  left:-3px;
  top:0px;
  width:27px;
  height:26px;
}
#u50791 {
  position:absolute;
  left:2px;
  top:5px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50789_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:29px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u50789_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u50792_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u50792 {
  position:absolute;
  left:1px;
  top:1px;
  width:20px;
  height:20px;
}
#u50793 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50794 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u50795 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u50796_div {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50796 {
  position:absolute;
  left:0px;
  top:178px;
  width:370px;
  height:45px;
}
#u50797 {
  position:absolute;
  left:2px;
  top:14px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50798_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u50798 {
  position:absolute;
  left:13px;
  top:192px;
  width:153px;
  height:21px;
  font-size:14px;
}
#u50799 {
  position:absolute;
  left:2px;
  top:2px;
  width:149px;
  word-wrap:break-word;
}
#u50800 {
  position:absolute;
  left:324px;
  top:190px;
  width:33px;
  height:29px;
  overflow:hidden;
}
#u50800_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:29px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u50800_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u50801_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u50801 {
  position:absolute;
  left:1px;
  top:1px;
  width:20px;
  height:20px;
}
#u50802 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50800_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:29px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u50800_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u50803_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:26px;
}
#u50803 {
  position:absolute;
  left:-3px;
  top:0px;
  width:27px;
  height:26px;
}
#u50804 {
  position:absolute;
  left:2px;
  top:5px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50805_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u50805 {
  position:absolute;
  left:150px;
  top:58px;
  width:108px;
  height:44px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u50806 {
  position:absolute;
  left:8px;
  top:4px;
  width:100px;
  word-wrap:break-word;
}
#u50754_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:289px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u50754_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u50807 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u50808_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50808 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:55px;
}
#u50809 {
  position:absolute;
  left:2px;
  top:20px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50810_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u50810 {
  position:absolute;
  left:136px;
  top:17px;
  width:65px;
  height:16px;
  font-size:16px;
  color:#999999;
}
#u50811 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u50812_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u50812 {
  position:absolute;
  left:327px;
  top:15px;
  width:37px;
  height:26px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u50813 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u50814_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:257px;
}
#u50814 {
  position:absolute;
  left:0px;
  top:55px;
  width:375px;
  height:257px;
}
#u50815 {
  position:absolute;
  left:2px;
  top:120px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IOS8-Icons Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#CCCCCC;
}
#u50816 {
  position:absolute;
  left:40px;
  top:9px;
  width:30px;
  height:30px;
  font-family:'IOS8-Icons Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#CCCCCC;
}
#u50817 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u50818_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IOS8-Icons Bold', 'IOS8-Icons';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#000000;
}
#u50818 {
  position:absolute;
  left:5px;
  top:9px;
  width:30px;
  height:30px;
  font-family:'IOS8-Icons Bold', 'IOS8-Icons';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#000000;
}
#u50819 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u50820 {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:50px;
  overflow:hidden;
}
#u50820_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u50820_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u50821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  background:inherit;
  background-color:rgba(102, 178, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u50821 {
  position:absolute;
  left:-3px;
  top:620px;
  width:375px;
  height:45px;
  font-size:18px;
  color:#FFFFFF;
}
#u50822 {
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  word-wrap:break-word;
}
#u50821_ann {
  position:absolute;
  left:365px;
  top:616px;
  width:1px;
  height:1px;
}
