body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:909px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1804 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1805 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1806_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1806 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
}
#u1807 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1808 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1809_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#2697EB;
}
#u1809 {
  position:absolute;
  left:32px;
  top:31px;
  width:37px;
  height:23px;
  color:#2697EB;
}
#u1810 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  white-space:nowrap;
}
#u1811_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
}
#u1811 {
  position:absolute;
  left:15px;
  top:34px;
  width:11px;
  height:16px;
}
#u1812 {
  position:absolute;
  left:2px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1813_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u1813 {
  position:absolute;
  left:10px;
  top:8px;
  width:360px;
  height:11px;
}
#u1814 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1816 {
  position:absolute;
  left:0px;
  top:617px;
  width:375px;
  height:50px;
  overflow:hidden;
}
#u1816_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1816_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1817_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1817 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
}
#u1818 {
  position:absolute;
  left:2px;
  top:17px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1819 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1820_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u1820 {
  position:absolute;
  left:326px;
  top:33px;
  width:24px;
  height:15px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u1821 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  word-wrap:break-word;
}
#u1822_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1822 {
  position:absolute;
  left:325px;
  top:4px;
  width:25px;
  height:25px;
}
#u1823 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1824 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u1825 {
  position:absolute;
  left:230px;
  top:33px;
  width:24px;
  height:15px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u1826 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  word-wrap:break-word;
}
#u1827_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1827 {
  position:absolute;
  left:228px;
  top:3px;
  width:24px;
  height:24px;
}
#u1828 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1829 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u1830 {
  position:absolute;
  left:133px;
  top:33px;
  width:24px;
  height:15px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u1831 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  word-wrap:break-word;
}
#u1832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1832 {
  position:absolute;
  left:132px;
  top:3px;
  width:25px;
  height:25px;
}
#u1833 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1834 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#29A1F7;
  text-align:center;
}
#u1835 {
  position:absolute;
  left:11px;
  top:34px;
  width:50px;
  height:15px;
  font-size:12px;
  color:#29A1F7;
  text-align:center;
}
#u1836 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u1837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1837 {
  position:absolute;
  left:24px;
  top:3px;
  width:25px;
  height:25px;
}
#u1838 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1816_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1816_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1839 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1840 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
}
#u1841 {
  position:absolute;
  left:2px;
  top:17px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1842 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u1843 {
  position:absolute;
  left:326px;
  top:33px;
  width:24px;
  height:15px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u1844 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  word-wrap:break-word;
}
#u1845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1845 {
  position:absolute;
  left:325px;
  top:4px;
  width:25px;
  height:25px;
}
#u1846 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1847 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1848 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u1849 {
  position:absolute;
  left:11px;
  top:34px;
  width:50px;
  height:15px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u1850 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u1851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1851 {
  position:absolute;
  left:25px;
  top:3px;
  width:25px;
  height:25px;
}
#u1852 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1853 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1854 {
  position:absolute;
  left:229px;
  top:3px;
  width:24px;
  height:24px;
}
#u1855 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1856 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#57A3F3;
  text-align:center;
}
#u1857 {
  position:absolute;
  left:229px;
  top:32px;
  width:24px;
  height:15px;
  font-size:12px;
  color:#57A3F3;
  text-align:center;
}
#u1858 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  word-wrap:break-word;
}
#u1859 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u1860 {
  position:absolute;
  left:134px;
  top:33px;
  width:24px;
  height:15px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u1861 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  word-wrap:break-word;
}
#u1862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1862 {
  position:absolute;
  left:133px;
  top:3px;
  width:25px;
  height:25px;
}
#u1863 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1816_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1816_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1864 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1865 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
}
#u1866 {
  position:absolute;
  left:2px;
  top:17px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1867 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1868 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u1869 {
  position:absolute;
  left:11px;
  top:34px;
  width:50px;
  height:15px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u1870 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u1871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1871 {
  position:absolute;
  left:25px;
  top:3px;
  width:25px;
  height:25px;
}
#u1872 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1873 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u1874 {
  position:absolute;
  left:134px;
  top:33px;
  width:24px;
  height:15px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u1875 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  word-wrap:break-word;
}
#u1876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1876 {
  position:absolute;
  left:133px;
  top:3px;
  width:25px;
  height:25px;
}
#u1877 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1878 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u1879 {
  position:absolute;
  left:231px;
  top:33px;
  width:24px;
  height:15px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u1880 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  word-wrap:break-word;
}
#u1881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1881 {
  position:absolute;
  left:229px;
  top:3px;
  width:24px;
  height:24px;
}
#u1882 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1883 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1884 {
  position:absolute;
  left:327px;
  top:5px;
  width:25px;
  height:25px;
}
#u1885 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1886 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#57A3F3;
  text-align:center;
}
#u1887 {
  position:absolute;
  left:327px;
  top:33px;
  width:24px;
  height:15px;
  font-size:12px;
  color:#57A3F3;
  text-align:center;
}
#u1888 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  word-wrap:break-word;
}
#u1816_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1816_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1889 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1890 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1891 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
}
#u1892 {
  position:absolute;
  left:2px;
  top:17px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1893 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u1894 {
  position:absolute;
  left:328px;
  top:33px;
  width:24px;
  height:15px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u1895 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  word-wrap:break-word;
}
#u1896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1896 {
  position:absolute;
  left:327px;
  top:4px;
  width:25px;
  height:25px;
}
#u1897 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1898 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u1899 {
  position:absolute;
  left:231px;
  top:33px;
  width:24px;
  height:15px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u1900 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  word-wrap:break-word;
}
#u1901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1901 {
  position:absolute;
  left:229px;
  top:3px;
  width:24px;
  height:24px;
}
#u1902 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1903 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1904 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u1905 {
  position:absolute;
  left:11px;
  top:34px;
  width:50px;
  height:15px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u1906 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u1907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1907 {
  position:absolute;
  left:25px;
  top:3px;
  width:25px;
  height:25px;
}
#u1908 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1909 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1910 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1911 {
  position:absolute;
  left:133px;
  top:3px;
  width:25px;
  height:25px;
}
#u1912 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1913 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#57A3F3;
  text-align:center;
}
#u1914 {
  position:absolute;
  left:134px;
  top:33px;
  width:24px;
  height:15px;
  font-size:12px;
  color:#57A3F3;
  text-align:center;
}
#u1915 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  word-wrap:break-word;
}
#u1916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:553px;
  background:inherit;
  background-color:rgba(245, 245, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1916 {
  position:absolute;
  left:0px;
  top:64px;
  width:375px;
  height:553px;
}
#u1917 {
  position:absolute;
  left:2px;
  top:268px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1918 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1919 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1920 {
  position:absolute;
  left:1px;
  top:0px;
  width:373px;
  height:73px;
}
#u1921 {
  position:absolute;
  left:2px;
  top:28px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1922 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#2697EB;
}
#u1923 {
  position:absolute;
  left:33px;
  top:31px;
  width:37px;
  height:23px;
  color:#2697EB;
}
#u1924 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  white-space:nowrap;
}
#u1925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
}
#u1925 {
  position:absolute;
  left:16px;
  top:34px;
  width:11px;
  height:16px;
}
#u1926 {
  position:absolute;
  left:2px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:20px;
}
#u1927 {
  position:absolute;
  left:145px;
  top:29px;
  width:85px;
  height:28px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:20px;
}
#u1928 {
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  white-space:nowrap;
}
#u1929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u1929 {
  position:absolute;
  left:11px;
  top:8px;
  width:360px;
  height:11px;
}
#u1930 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1931 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(239, 239, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1932 {
  position:absolute;
  left:1px;
  top:73px;
  width:375px;
  height:44px;
}
#u1933 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1934 {
  position:absolute;
  left:10px;
  top:81px;
  width:357px;
  height:28px;
}
#u1935 {
  position:absolute;
  left:2px;
  top:6px;
  width:353px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u1936 {
  position:absolute;
  left:164px;
  top:88px;
  width:14px;
  height:14px;
}
#u1937 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#BABABA;
}
#u1938 {
  position:absolute;
  left:182px;
  top:85px;
  width:35px;
  height:22px;
  color:#BABABA;
}
#u1939 {
  position:absolute;
  left:2px;
  top:2px;
  width:31px;
  white-space:nowrap;
}
#u1940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u1940 {
  position:absolute;
  left:407px;
  top:31px;
  width:81px;
  height:25px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u1941 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u1942 {
  position:absolute;
  left:409px;
  top:75px;
  width:500px;
  height:44px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u1943 {
  position:absolute;
  left:8px;
  top:4px;
  width:492px;
  word-wrap:break-word;
}
#u1944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u1944 {
  position:absolute;
  left:1px;
  top:620px;
  width:268px;
  height:47px;
  font-size:18px;
  color:#FFFFFF;
}
#u1945 {
  position:absolute;
  left:2px;
  top:16px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1944_ann {
  position:absolute;
  left:262px;
  top:616px;
  width:1px;
  height:1px;
}
#u1946 {
  position:absolute;
  left:0px;
  top:117px;
  width:373px;
  height:550px;
  overflow:hidden;
}
#u1946_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:550px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1946_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1947 {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:590px;
  overflow:hidden;
}
#u1947_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:590px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u1947_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u1949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u1949 {
  position:absolute;
  left:31px;
  top:9px;
  width:9px;
  height:16px;
}
.u1950 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  visibility:hidden;
  white-space:nowrap;
}
.u1951 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u1952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u1952 {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:64px;
}
.u1953 {
  position:absolute;
  left:2px;
  top:24px;
  width:343px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:2px;
}
.u1954 {
  position:absolute;
  left:22px;
  top:0px;
  width:335px;
  height:1px;
}
.u1955 {
  position:absolute;
  left:2px;
  top:-8px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:2px;
}
.u1956 {
  position:absolute;
  left:0px;
  top:64px;
  width:357px;
  height:1px;
}
.u1957 {
  position:absolute;
  left:2px;
  top:-8px;
  width:353px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:2px;
}
.u1958 {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:1px;
}
.u1959 {
  position:absolute;
  left:2px;
  top:-8px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:55px;
}
.u1960 {
  position:absolute;
  left:18px;
  top:9px;
  width:203px;
  height:55px;
}
.u1961 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  word-wrap:break-word;
}
.u1962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:16px;
}
.u1962 {
  position:absolute;
  left:255px;
  top:9px;
  width:83px;
  height:16px;
}
.u1963 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
.u1964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
.u1964 {
  position:absolute;
  left:325px;
  top:26px;
  width:8px;
  height:16px;
}
.u1965 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
.u1966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
.u1966 {
  position:absolute;
  left:5px;
  top:9px;
  width:8px;
  height:16px;
}
.u1967 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
.u1968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u1968 {
  position:absolute;
  left:31px;
  top:73px;
  width:9px;
  height:16px;
}
.u1969 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  visibility:hidden;
  white-space:nowrap;
}
.u1970 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u1971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u1971 {
  position:absolute;
  left:0px;
  top:64px;
  width:347px;
  height:64px;
}
.u1972 {
  position:absolute;
  left:2px;
  top:24px;
  width:343px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:2px;
}
.u1973 {
  position:absolute;
  left:22px;
  top:64px;
  width:335px;
  height:1px;
}
.u1974 {
  position:absolute;
  left:2px;
  top:-8px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:2px;
}
.u1975 {
  position:absolute;
  left:0px;
  top:128px;
  width:357px;
  height:1px;
}
.u1976 {
  position:absolute;
  left:2px;
  top:-8px;
  width:353px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:2px;
}
.u1977 {
  position:absolute;
  left:0px;
  top:64px;
  width:361px;
  height:1px;
}
.u1978 {
  position:absolute;
  left:2px;
  top:-8px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:55px;
}
.u1979 {
  position:absolute;
  left:18px;
  top:73px;
  width:203px;
  height:55px;
}
.u1980 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  word-wrap:break-word;
}
.u1981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:16px;
}
.u1981 {
  position:absolute;
  left:255px;
  top:73px;
  width:83px;
  height:16px;
}
.u1982 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
.u1983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
.u1983 {
  position:absolute;
  left:325px;
  top:90px;
  width:8px;
  height:16px;
}
.u1984 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
.u1985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
.u1985 {
  position:absolute;
  left:5px;
  top:73px;
  width:8px;
  height:16px;
}
.u1986 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
.u1987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u1987 {
  position:absolute;
  left:31px;
  top:137px;
  width:9px;
  height:16px;
}
.u1988 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  visibility:hidden;
  white-space:nowrap;
}
.u1989 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u1990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u1990 {
  position:absolute;
  left:0px;
  top:128px;
  width:347px;
  height:64px;
}
.u1991 {
  position:absolute;
  left:2px;
  top:24px;
  width:343px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:2px;
}
.u1992 {
  position:absolute;
  left:22px;
  top:128px;
  width:335px;
  height:1px;
}
.u1993 {
  position:absolute;
  left:2px;
  top:-8px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:2px;
}
.u1994 {
  position:absolute;
  left:0px;
  top:192px;
  width:357px;
  height:1px;
}
.u1995 {
  position:absolute;
  left:2px;
  top:-8px;
  width:353px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:2px;
}
.u1996 {
  position:absolute;
  left:0px;
  top:128px;
  width:361px;
  height:1px;
}
.u1997 {
  position:absolute;
  left:2px;
  top:-8px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:55px;
}
.u1998 {
  position:absolute;
  left:18px;
  top:137px;
  width:203px;
  height:55px;
}
.u1999 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  word-wrap:break-word;
}
.u2000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:16px;
}
.u2000 {
  position:absolute;
  left:255px;
  top:137px;
  width:83px;
  height:16px;
}
.u2001 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
.u2002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
.u2002 {
  position:absolute;
  left:325px;
  top:154px;
  width:8px;
  height:16px;
}
.u2003 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
.u2004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
.u2004 {
  position:absolute;
  left:5px;
  top:137px;
  width:8px;
  height:16px;
}
.u2005 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u1948-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:201px;
}
#u1948-2 {
  position:absolute;
  left:0px;
  top:201px;
  width:361px;
  height:201px;
}
#u1948-3 {
  position:absolute;
  left:0px;
  top:402px;
  width:361px;
  height:201px;
}
#u1948-4 {
  position:absolute;
  left:0px;
  top:603px;
  width:361px;
  height:201px;
}
#u1948-5 {
  position:absolute;
  left:0px;
  top:804px;
  width:361px;
  height:201px;
}
#u1948-6 {
  position:absolute;
  left:0px;
  top:1005px;
  width:361px;
  height:201px;
}
#u1948-7 {
  position:absolute;
  left:0px;
  top:1206px;
  width:361px;
  height:201px;
}
#u1948-8 {
  position:absolute;
  left:0px;
  top:1407px;
  width:361px;
  height:201px;
}
#u1948 {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:1608px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
