body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10822 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10823-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10823-2 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10823-3 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10823-4 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10823 {
  position:absolute;
  left:788px;
  top:335px;
  width:0px;
  height:0px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u10824-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10824-2 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10824-3 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10824-4 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10824-5 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10824-6 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10824-7 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10824-8 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10824-9 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10824-10 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10824-11 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10824-12 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10824-13 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10824-14 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10824-15 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10824-16 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10824-17 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10824-18 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10824-19 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10824-20 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10824-21 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10824-22 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10824-23 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10824-24 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10824 {
  position:absolute;
  left:1280px;
  top:32px;
  width:0px;
  height:0px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u10825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:350px;
}
#u10825 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:350px;
}
#u10826 {
  position:absolute;
  left:2px;
  top:112px;
  width:1276px;
  word-wrap:break-word;
}
