body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:376px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u52511_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:593px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52511 {
  position:absolute;
  left:0px;
  top:74px;
  width:375px;
  height:593px;
}
#u52512 {
  position:absolute;
  left:2px;
  top:288px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52513 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u52514 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u52515_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52515 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:75px;
}
#u52516 {
  position:absolute;
  left:2px;
  top:30px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52517_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#2697EB;
}
#u52517 {
  position:absolute;
  left:32px;
  top:36px;
  width:37px;
  height:23px;
  color:#2697EB;
}
#u52518 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  white-space:nowrap;
}
#u52519_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:19px;
}
#u52519 {
  position:absolute;
  left:15px;
  top:36px;
  width:11px;
  height:19px;
}
#u52520 {
  position:absolute;
  left:2px;
  top:2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52521_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u52521 {
  position:absolute;
  left:10px;
  top:8px;
  width:360px;
  height:11px;
}
#u52522 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52523_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u52523 {
  position:absolute;
  left:152px;
  top:35px;
  width:41px;
  height:26px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u52524 {
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  white-space:nowrap;
}
#u52525_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52525 {
  position:absolute;
  left:0px;
  top:74px;
  width:375px;
  height:43px;
}
#u52526 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52527 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u52528_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(239, 239, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52528 {
  position:absolute;
  left:1px;
  top:73px;
  width:375px;
  height:44px;
}
#u52529 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52530_div {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52530 {
  position:absolute;
  left:10px;
  top:81px;
  width:357px;
  height:28px;
}
#u52531 {
  position:absolute;
  left:2px;
  top:6px;
  width:353px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52532_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u52532 {
  position:absolute;
  left:164px;
  top:88px;
  width:14px;
  height:14px;
}
#u52533 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52534_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#BABABA;
}
#u52534 {
  position:absolute;
  left:182px;
  top:85px;
  width:35px;
  height:22px;
  color:#BABABA;
}
#u52535 {
  position:absolute;
  left:2px;
  top:2px;
  width:31px;
  white-space:nowrap;
}
