body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1302px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u31269 {
  position:absolute;
  left:0px;
  top:0px;
  width:1302px;
  height:813px;
  overflow:hidden;
}
#u31269_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1302px;
  height:813px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u31269_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u31270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1295px;
  height:752px;
}
#u31270 {
  position:absolute;
  left:0px;
  top:64px;
  width:1295px;
  height:752px;
}
#u31271 {
  position:absolute;
  left:2px;
  top:368px;
  width:1291px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31272_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1279px;
  height:730px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31272 {
  position:absolute;
  left:9px;
  top:73px;
  width:1279px;
  height:730px;
}
#u31273 {
  position:absolute;
  left:2px;
  top:357px;
  width:1275px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:20px;
}
#u31274 {
  position:absolute;
  left:17px;
  top:19px;
  width:165px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u31275 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u31276 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31277_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1257px;
  height:34px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u31277 {
  position:absolute;
  left:14px;
  top:122px;
  width:1257px;
  height:34px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u31278 {
  position:absolute;
  left:2px;
  top:9px;
  width:1253px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31279 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31280_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u31280 {
  position:absolute;
  left:33px;
  top:129px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u31281 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u31282 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31283_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u31283 {
  position:absolute;
  left:1188px;
  top:129px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u31284 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u31285_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u31285 {
  position:absolute;
  left:916px;
  top:129px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u31286 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u31287 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31288_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u31288 {
  position:absolute;
  left:357px;
  top:129px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u31289 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
.u31291 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u31292_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1258px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u31292 {
  position:absolute;
  left:0px;
  top:0px;
  width:1258px;
  height:50px;
}
.u31292_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:1258px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.298039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u31292.mouseOver {
}
.u31293 {
  position:absolute;
  left:2px;
  top:17px;
  width:1254px;
  visibility:hidden;
  word-wrap:break-word;
}
.u31294_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
.u31294 {
  position:absolute;
  left:344px;
  top:18px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#000000;
}
.u31295 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
.u31296_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
.u31296 {
  position:absolute;
  left:20px;
  top:18px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#000000;
}
.u31297 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
.u31298_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
.u31298 {
  position:absolute;
  left:905px;
  top:18px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#000000;
}
.u31299 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
.u31300_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
.u31300 {
  position:absolute;
  left:1169px;
  top:14px;
  width:25px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
.u31301 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
.u31302 {
  position:absolute;
  left:1169px;
  top:49px;
  width:68px;
  height:29px;
  overflow:hidden;
  visibility:hidden;
}
.u31302_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:29px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
.u31302_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u31303_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u31303 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:26px;
}
.u31304 {
  position:absolute;
  left:2px;
  top:5px;
  width:62px;
  word-wrap:break-word;
}
.u31306_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
.u31306 {
  position:absolute;
  left:1220px;
  top:11px;
  width:28px;
  height:28px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
.u31307 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
.u31308 {
  position:absolute;
  left:1227px;
  top:45px;
  width:100px;
  height:28px;
  overflow:hidden;
  visibility:hidden;
}
.u31308_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
.u31308_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u31309_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
.u31309 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:23px;
  font-size:12px;
}
.u31310 {
  position:absolute;
  left:2px;
  top:4px;
  width:69px;
  word-wrap:break-word;
}
.u31311 {
  position:absolute;
  left:1216px;
  top:6px;
  width:40px;
  height:33px;
  overflow:hidden;
}
.u31311_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:33px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
.u31311_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u31290-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1258px;
  height:50px;
}
#u31290-2 {
  position:absolute;
  left:0px;
  top:50px;
  width:1258px;
  height:50px;
}
#u31290-3 {
  position:absolute;
  left:0px;
  top:100px;
  width:1258px;
  height:50px;
}
#u31290-4 {
  position:absolute;
  left:0px;
  top:150px;
  width:1258px;
  height:50px;
}
#u31290-5 {
  position:absolute;
  left:0px;
  top:200px;
  width:1258px;
  height:50px;
}
#u31290-6 {
  position:absolute;
  left:0px;
  top:250px;
  width:1258px;
  height:50px;
}
#u31290-7 {
  position:absolute;
  left:0px;
  top:300px;
  width:1258px;
  height:50px;
}
#u31290 {
  position:absolute;
  left:14px;
  top:156px;
  width:1258px;
  height:350px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u31312 {
  position:absolute;
  left:22px;
  top:89px;
  width:162px;
  height:30px;
}
#u31312_input {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u31314 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31315_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
  background:inherit;
  background-color:rgba(245, 160, 55, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u31315 {
  position:absolute;
  left:209px;
  top:89px;
  width:74px;
  height:30px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u31316 {
  position:absolute;
  left:16px;
  top:5px;
  width:42px;
  word-wrap:break-word;
}
#u31317_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u31317 {
  position:absolute;
  left:217px;
  top:98px;
  width:15px;
  height:15px;
}
#u31318 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31319 {
  position:absolute;
  left:12px;
  top:80px;
  width:1259px;
  height:426px;
  overflow:hidden;
  visibility:hidden;
}
#u31319_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1259px;
  height:426px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u31319_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u31320_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1279px;
  height:329px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31320 {
  position:absolute;
  left:0px;
  top:0px;
  width:1279px;
  height:329px;
}
#u31321 {
  position:absolute;
  left:2px;
  top:156px;
  width:1275px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31322_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u31322 {
  position:absolute;
  left:502px;
  top:453px;
  width:12px;
  height:12px;
  opacity:0;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u31323 {
  position:absolute;
  left:2px;
  top:0px;
  width:8px;
  word-wrap:break-word;
}
#u31324_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u31324 {
  position:absolute;
  left:176px;
  top:1226px;
  width:12px;
  height:12px;
  opacity:0;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u31325 {
  position:absolute;
  left:2px;
  top:0px;
  width:8px;
  word-wrap:break-word;
}
#u31326_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:36px;
}
#u31326 {
  position:absolute;
  left:456px;
  top:2064px;
  width:341px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u31327 {
  position:absolute;
  left:2px;
  top:10px;
  width:337px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31328_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1272px;
  height:315px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31328 {
  position:absolute;
  left:0px;
  top:0px;
  width:1272px;
  height:315px;
}
#u31329 {
  position:absolute;
  left:2px;
  top:150px;
  width:1268px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31330_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u31330 {
  position:absolute;
  left:12px;
  top:10px;
  width:109px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u31331 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u31332_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(87, 163, 243, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#57A3F3;
  text-align:left;
  line-height:22px;
}
#u31332 {
  position:absolute;
  left:127px;
  top:264px;
  width:70px;
  height:30px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#57A3F3;
  text-align:left;
  line-height:22px;
}
#u31333 {
  position:absolute;
  left:16px;
  top:4px;
  width:38px;
  word-wrap:break-word;
}
#u31334 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31335_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(45, 140, 240, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:24px;
}
#u31335 {
  position:absolute;
  left:22px;
  top:264px;
  width:70px;
  height:30px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:24px;
}
#u31336 {
  position:absolute;
  left:16px;
  top:3px;
  width:38px;
  word-wrap:break-word;
}
#u31337_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1273px;
  height:2px;
}
#u31337 {
  position:absolute;
  left:0px;
  top:42px;
  width:1272px;
  height:1px;
}
#u31338 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1268px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31339_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
}
#u31339 {
  position:absolute;
  left:57px;
  top:67px;
  width:39px;
  height:18px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
}
#u31340 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u31341_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1273px;
  height:2px;
}
#u31341 {
  position:absolute;
  left:0px;
  top:243px;
  width:1272px;
  height:1px;
}
#u31342 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1268px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31343 {
  position:absolute;
  left:127px;
  top:62px;
  width:299px;
  height:30px;
}
#u31343_input {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u31344_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  color:rgba(51, 51, 51, 0.847058823529412);
}
#u31344 {
  position:absolute;
  left:63px;
  top:126px;
  width:33px;
  height:18px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  color:rgba(51, 51, 51, 0.847058823529412);
}
#u31345 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u31346 {
  position:absolute;
  left:126px;
  top:129px;
  width:300px;
  height:81px;
}
#u31346_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:81px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u31319_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1259px;
  height:426px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u31319_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u31347_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1279px;
  height:329px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31347 {
  position:absolute;
  left:0px;
  top:0px;
  width:1279px;
  height:329px;
}
#u31348 {
  position:absolute;
  left:2px;
  top:156px;
  width:1275px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31349_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u31349 {
  position:absolute;
  left:502px;
  top:453px;
  width:12px;
  height:12px;
  opacity:0;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u31350 {
  position:absolute;
  left:2px;
  top:0px;
  width:8px;
  word-wrap:break-word;
}
#u31351_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u31351 {
  position:absolute;
  left:176px;
  top:1226px;
  width:12px;
  height:12px;
  opacity:0;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u31352 {
  position:absolute;
  left:2px;
  top:0px;
  width:8px;
  word-wrap:break-word;
}
#u31353_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:36px;
}
#u31353 {
  position:absolute;
  left:456px;
  top:2064px;
  width:341px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u31354 {
  position:absolute;
  left:2px;
  top:10px;
  width:337px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31355_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1272px;
  height:315px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31355 {
  position:absolute;
  left:0px;
  top:0px;
  width:1272px;
  height:315px;
}
#u31356 {
  position:absolute;
  left:2px;
  top:150px;
  width:1268px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31357_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u31357 {
  position:absolute;
  left:12px;
  top:10px;
  width:109px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u31358 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u31359_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(87, 163, 243, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#57A3F3;
  text-align:left;
  line-height:22px;
}
#u31359 {
  position:absolute;
  left:127px;
  top:264px;
  width:70px;
  height:30px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#57A3F3;
  text-align:left;
  line-height:22px;
}
#u31360 {
  position:absolute;
  left:16px;
  top:4px;
  width:38px;
  word-wrap:break-word;
}
#u31361 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31362_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(45, 140, 240, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:24px;
}
#u31362 {
  position:absolute;
  left:22px;
  top:264px;
  width:70px;
  height:30px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:24px;
}
#u31363 {
  position:absolute;
  left:16px;
  top:3px;
  width:38px;
  word-wrap:break-word;
}
#u31364_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1273px;
  height:2px;
}
#u31364 {
  position:absolute;
  left:0px;
  top:42px;
  width:1272px;
  height:1px;
}
#u31365 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1268px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31366_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
}
#u31366 {
  position:absolute;
  left:57px;
  top:67px;
  width:39px;
  height:18px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
}
#u31367 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u31368_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1273px;
  height:2px;
}
#u31368 {
  position:absolute;
  left:0px;
  top:243px;
  width:1272px;
  height:1px;
}
#u31369 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1268px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31370 {
  position:absolute;
  left:127px;
  top:62px;
  width:299px;
  height:30px;
}
#u31370_input {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
}
#u31371_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  color:rgba(51, 51, 51, 0.847058823529412);
}
#u31371 {
  position:absolute;
  left:63px;
  top:126px;
  width:33px;
  height:18px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  color:rgba(51, 51, 51, 0.847058823529412);
}
#u31372 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u31373 {
  position:absolute;
  left:126px;
  top:129px;
  width:300px;
  height:81px;
}
#u31373_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:81px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u31374_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u31374 {
  position:absolute;
  left:14px;
  top:570px;
  width:183px;
  height:150px;
}
#u31375 {
  position:absolute;
  left:10px;
  top:10px;
  width:163px;
  word-wrap:break-word;
}
#u31377 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31378_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1277px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u31378 {
  position:absolute;
  left:10px;
  top:745px;
  width:1277px;
  height:57px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u31379 {
  position:absolute;
  left:2px;
  top:20px;
  width:1273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31380 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31381 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31382_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(245, 160, 55, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:22px;
}
#u31382 {
  position:absolute;
  left:1056px;
  top:757px;
  width:30px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:22px;
}
#u31383 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u31384_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u31384 {
  position:absolute;
  left:1094px;
  top:757px;
  width:30px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u31385 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u31386_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u31386 {
  position:absolute;
  left:1131px;
  top:757px;
  width:30px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u31387 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u31388_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u31388 {
  position:absolute;
  left:1169px;
  top:757px;
  width:30px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u31389 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u31390_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u31390 {
  position:absolute;
  left:1206px;
  top:757px;
  width:30px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u31391 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u31392 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31393_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u31393 {
  position:absolute;
  left:1019px;
  top:757px;
  width:30px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u31394 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31395_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u31395 {
  position:absolute;
  left:1027px;
  top:765px;
  width:13px;
  height:13px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  opacity:0.400000005960464;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u31396 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31397 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31398_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u31398 {
  position:absolute;
  left:1244px;
  top:757px;
  width:30px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u31399 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31400_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u31400 {
  position:absolute;
  left:1252px;
  top:765px;
  width:13px;
  height:13px;
  opacity:0.400000005960464;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u31401 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31402_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u31402 {
  position:absolute;
  left:922px;
  top:762px;
  width:53px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u31403 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u31405_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
  background:inherit;
  background-color:rgba(19, 193, 159, 0.8);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u31405 {
  position:absolute;
  left:1179px;
  top:89px;
  width:92px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u31405_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
  background:inherit;
  background-color:rgba(19, 193, 159, 0.8);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u31405.mouseOver {
}
#u31405_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u31405.disabled {
}
#u31406 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31407 {
  position:absolute;
  left:1179px;
  top:89px;
  width:92px;
  height:30px;
  overflow:hidden;
}
#u31407_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u31407_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u31408_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u31408 {
  position:absolute;
  left:3px;
  top:5px;
  width:85px;
  height:16px;
  color:#FFFFFF;
}
#u31409 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
